<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9a87d7a-ff87-4663-945a-5d1b2ba95158" Alias="Academic Opportunities" Level="4">
  <Info>
    <Parent Key="dfa5e0e7-f470-4796-a2c5-8be4b4b25c92">ELOs</Parent>
    <Path>/Home/Students/ELOs/AcademicOpportunities</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-11T12:00:00</CreateDate>
    <NodeName Default="Academic Opportunities" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "0c9e1638-53a4-40b1-abb1-9fb4a7401dd4",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPhotos from academic support and enrichment programs across campus. Check back for the latest photos.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "d15de1ac-4a1b-4e42-8a81-8e47d5a624dd",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "61265093-56e8-4eac-acaf-6e79209fc318",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0db46321-1334-4aac-b209-bbf79ec3dbfc",
                        "mediaKey": "27d29c58-86e7-4bac-8fea-b0be526bfe2b",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "0cd652c1-296f-428f-8058-fe2fc99fc7d3",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "de37935e-da41-4f7b-8580-c2debb1f3246",
                        "mediaKey": "542e2e03-92e7-4836-a834-9b437e2edc11",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "43d7d220-7e2c-442e-b3e5-5750957c087c",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ad99c8d1-f098-4100-bcb8-e600b2db756e",
                        "mediaKey": "ebee49da-9b42-42ae-82fc-80225ce58f3e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "25efac26-2269-4873-a072-fe9ef24363a5",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d5cc4ff5-4fb3-44c8-b45e-1a64768c10ec",
                        "mediaKey": "01706ae9-98b8-4e1e-931c-590b668ae2da",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "a5398877-1e39-488e-8471-ccdf224191e3",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "15daf8a2-6860-4308-8ff7-b7e98f25bf9e",
                        "mediaKey": "d23cdb64-8122-4273-89df-36d1187b0be3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "9643e7ed-c32f-46a5-b9fe-ca3bb138a105",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d1a56a16-e59c-49e4-b7de-f17f022a6a5e",
                        "mediaKey": "e9c90eca-6489-486c-82ee-1d7f523d0de0",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "2c70959f-7f61-4a13-9cfb-be3cd25f9d57",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e5a13aaf-e733-44ea-bce3-cbcfef3108ab",
                        "mediaKey": "a45a39ea-933d-453a-b5bb-269cab0b4060",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "8fe81499-aa01-49ba-a15a-33ba9735012b",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e937e772-f939-4372-bd9f-5fe286771865",
                        "mediaKey": "fe8cf2e5-2181-4a3e-aaff-38e43371728c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "5c2d2928-e545-46ad-af8e-5045e6baab7d",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1237037b-c2ca-4393-a7df-9bd4ebfed849",
                        "mediaKey": "995f3195-b6a3-472a-8859-e484c3b195eb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "37ab86c2-8dd3-460d-a95d-03afafd1d991",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "753a9234-cef6-4a13-be75-67bcea9ef507",
                        "mediaKey": "33837aa1-6813-4bb8-9a9b-312b0b9cc8f8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "f93a7318-69d1-4e86-8103-0f6102f09853",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5c95c610-27ca-4dd8-8c7c-34f7f2953dfe",
                        "mediaKey": "4e8fbfa2-5d40-4aea-93cc-93a2f591e483",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "61265093-56e8-4eac-acaf-6e79209fc318",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0cd652c1-296f-428f-8058-fe2fc99fc7d3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "43d7d220-7e2c-442e-b3e5-5750957c087c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "25efac26-2269-4873-a072-fe9ef24363a5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a5398877-1e39-488e-8471-ccdf224191e3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9643e7ed-c32f-46a5-b9fe-ca3bb138a105",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2c70959f-7f61-4a13-9cfb-be3cd25f9d57",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8fe81499-aa01-49ba-a15a-33ba9735012b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5c2d2928-e545-46ad-af8e-5045e6baab7d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "37ab86c2-8dd3-460d-a95d-03afafd1d991",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f93a7318-69d1-4e86-8103-0f6102f09853",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "61265093-56e8-4eac-acaf-6e79209fc318",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0cd652c1-296f-428f-8058-fe2fc99fc7d3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "43d7d220-7e2c-442e-b3e5-5750957c087c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "25efac26-2269-4873-a072-fe9ef24363a5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a5398877-1e39-488e-8471-ccdf224191e3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9643e7ed-c32f-46a5-b9fe-ca3bb138a105",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2c70959f-7f61-4a13-9cfb-be3cd25f9d57",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8fe81499-aa01-49ba-a15a-33ba9735012b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5c2d2928-e545-46ad-af8e-5045e6baab7d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "37ab86c2-8dd3-460d-a95d-03afafd1d991",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f93a7318-69d1-4e86-8103-0f6102f09853",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "a8460f6e-ea31-490e-8e55-71e01248a6fd",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "8c7c8f3c-76e8-402d-afa2-b9235fd602d8",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "small"
          ]
        },
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "elo-photo-slider"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0c9e1638-53a4-40b1-abb1-9fb4a7401dd4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d15de1ac-4a1b-4e42-8a81-8e47d5a624dd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0c9e1638-53a4-40b1-abb1-9fb4a7401dd4",
        "contentUdi": null,
        "settingsKey": "a8460f6e-ea31-490e-8e55-71e01248a6fd",
        "settingsUdi": null
      },
      {
        "contentKey": "d15de1ac-4a1b-4e42-8a81-8e47d5a624dd",
        "contentUdi": null,
        "settingsKey": "8c7c8f3c-76e8-402d-afa2-b9235fd602d8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Academic Opportunities]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>