<?xml version="1.0" encoding="utf-8"?>
<Content Key="930a786a-2224-4cce-954f-a8978bd07f7b" Alias="Accessories" Level="4">
  <Info>
    <Parent Key="3be86007-8558-492c-aa3d-ef99836d7a31">Quotes</Parent>
    <Path>/Intranet/InformationTechnology/Quotes/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-19T19:20:46</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d5cfefb2-1d4b-46d3-af96-21c1ca546040",
      "key": "c7c512e2-a6d8-4cc7-8146-2fab55435ceb",
      "values": [
        {
          "alias": "imageBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "26413958-9988-4001-af8a-99a51e20ec44",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Barcode Scanners"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9a8c6cfc-cbb3-4121-b19a-7bbb7d46d130",
                        "mediaKey": "b4e21b7d-b851-4e6e-a097-c30be56e3cd8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "419a41cb-d28e-4f26-9def-d23a9c778d79",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Charging Station for Tablets"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "831c4122-51a5-4ff5-ba0d-1a2a557881e8",
                        "mediaKey": "66bf2738-339d-49e1-b4a5-66a999694aa2",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "f0228443-1246-4001-9674-913c791c31f2",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "External Storage Drives"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "569ce8a6-ef34-4ec0-b09d-153648701c6e",
                        "mediaKey": "e028f6b3-9036-40d8-a8d1-8ba82ca28a38",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "3e6d25f7-fa29-48b2-853a-aadc5a1beb64",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Headsets"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d93513fc-2292-4260-a1b2-8f15a6c69331",
                        "mediaKey": "1e423a6f-d002-4a45-82cb-bbec948cdf9a",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "26413958-9988-4001-af8a-99a51e20ec44",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "419a41cb-d28e-4f26-9def-d23a9c778d79",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f0228443-1246-4001-9674-913c791c31f2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3e6d25f7-fa29-48b2-853a-aadc5a1beb64",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "26413958-9988-4001-af8a-99a51e20ec44",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "419a41cb-d28e-4f26-9def-d23a9c778d79",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f0228443-1246-4001-9674-913c791c31f2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3e6d25f7-fa29-48b2-853a-aadc5a1beb64",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "d5cfefb2-1d4b-46d3-af96-21c1ca546040",
      "key": "970ef9b0-d5a8-4112-a4ba-a2deda500cc6",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Other Accessories"
        },
        {
          "alias": "imageBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "a6194f94-c1be-4156-8af7-b990b6e6506f",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Fujitsu Document Scanner iX1600 - Suitable for front office"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "baad7b1d-7faf-439c-ae59-c1a55cf9d8ec",
                        "mediaKey": "129053ac-0f9b-4d8e-b9dd-4433b9af452d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "d738bfa3-7e38-4b6a-88ad-02fac54100f5",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Elmo Document Camera TT-12G STEM-CAM"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "14498cd6-ab9c-4208-b888-2caaebc52d27",
                        "mediaKey": "fccd64ad-4ad7-4784-a490-64e7ec6187e3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "d16057c3-0d09-4e7b-96ed-d32e0461b438",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dell SD25 Smart Laptop Dock"
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "680b70a1-b98d-4169-b22c-a23452be088a",
                        "mediaKey": "611527d3-b360-4e15-b06b-8429a191aa41",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a6194f94-c1be-4156-8af7-b990b6e6506f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d738bfa3-7e38-4b6a-88ad-02fac54100f5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d16057c3-0d09-4e7b-96ed-d32e0461b438",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a6194f94-c1be-4156-8af7-b990b6e6506f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d738bfa3-7e38-4b6a-88ad-02fac54100f5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d16057c3-0d09-4e7b-96ed-d32e0461b438",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "5feabad7-42ef-4966-be42-2b6ab30cfea0",
      "key": "81abb210-ac5a-46a4-99bb-9008fd0bb283",
      "values": [
        {
          "alias": "alias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Multiple Accessories"
        },
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "py-5"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "5feabad7-42ef-4966-be42-2b6ab30cfea0",
      "key": "76b0e95b-2d07-453c-ac23-76e3c9283b2c",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "gutters-md"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c7c512e2-a6d8-4cc7-8146-2fab55435ceb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "970ef9b0-d5a8-4112-a4ba-a2deda500cc6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c7c512e2-a6d8-4cc7-8146-2fab55435ceb",
        "contentUdi": null,
        "settingsKey": "81abb210-ac5a-46a4-99bb-9008fd0bb283",
        "settingsUdi": null
      },
      {
        "contentKey": "970ef9b0-d5a8-4112-a4ba-a2deda500cc6",
        "contentUdi": null,
        "settingsKey": "76b0e95b-2d07-453c-ac23-76e3c9283b2c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f3144031-9b19-4322-9a24-dadbba7e820e",
      "key": "e1912627-b217-4cd2-9970-f3c6e424aec2",
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accessories"
        },
        {
          "alias": "showBreadcrumbs",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fa8b1339-cad6-4e05-9695-f65367c32ad9",
      "key": "83953c16-8d9b-424d-a0f8-f7230c8a6348",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#e8e8e8"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e1912627-b217-4cd2-9970-f3c6e424aec2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e1912627-b217-4cd2-9970-f3c6e424aec2",
        "contentUdi": null,
        "settingsKey": "83953c16-8d9b-424d-a0f8-f7230c8a6348",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "key": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
      "values": [
        {
          "alias": "displayOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "siblings"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Product Category"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "key": "642d1959-2df7-4a96-9f0f-a9250b88630f",
      "values": [
        {
          "alias": "displayAsPills",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
        "contentUdi": null,
        "settingsKey": "642d1959-2df7-4a96-9f0f-a9250b88630f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>