<?xml version="1.0" encoding="utf-8"?>
<Content Key="930a786a-2224-4cce-954f-a8978bd07f7b" Alias="Accessories" Level="4">
  <Info>
    <Parent Key="3be86007-8558-492c-aa3d-ef99836d7a31">Quotes</Parent>
    <Path>/Intranet/InformationTechnology/Quotes/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-05-19T19:20:46</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f3144031-9b19-4322-9a24-dadbba7e820e",
      "key": "e1912627-b217-4cd2-9970-f3c6e424aec2",
      "values": [
        {
          "alias": "headingText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Accessories"
        },
        {
          "alias": "showBreadcrumbs",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "fa8b1339-cad6-4e05-9695-f65367c32ad9",
      "key": "83953c16-8d9b-424d-a0f8-f7230c8a6348",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#e8e8e8"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e1912627-b217-4cd2-9970-f3c6e424aec2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e1912627-b217-4cd2-9970-f3c6e424aec2",
        "contentUdi": null,
        "settingsKey": "83953c16-8d9b-424d-a0f8-f7230c8a6348",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "key": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
      "values": [
        {
          "alias": "displayOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "none"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Product Category"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "key": "642d1959-2df7-4a96-9f0f-a9250b88630f",
      "values": [
        {
          "alias": "displayAsPills",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4e2265ff-2e0d-4c7c-aab9-5936630d2183",
        "contentUdi": null,
        "settingsKey": "642d1959-2df7-4a96-9f0f-a9250b88630f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>