<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fa99ac1-68e2-4525-a5a5-caca4c6f4126" Alias="Administration" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/Administration</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-24T18:44:23</CreateDate>
    <NodeName Default="Administration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "159d3a50-c57f-42c0-a62d-a7e4e7a0b4d1",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "eace9931-8a7a-42e9-889b-ee8519bb6d3a",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nick Clark"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Principal"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "189c5538-48aa-48a9-8528-d81439e9f8c8",
                        "mediaKey": "afc97db1-ca58-4b39-883e-95d7e89047d4",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "nclark@ggusd.us"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "e37a81ce-4629-4238-bcb0-f347c13180b8",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dr. Tran"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assistant Principal - 9th Grade"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0a885a5d-ee17-4129-b5cd-1d3fc6b46465",
                        "mediaKey": "a599aaed-635b-4656-aec0-f2c1b999f081",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "c3224ba7-73e7-4fd2-b0ec-97b3a493d0ae",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assistant Principal - 10th Grade"
                  },
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dr. Espinoza"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "00ba62f3-095f-4e14-a1a4-b583b468101b",
                        "mediaKey": "7514f756-f875-45e4-8bb5-88e453af94e8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "181b0704-5f98-4cec-9227-3195191201e8",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Ms. Wong"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assistant Principal - 11th and 12th Grade"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5cc9caa2-fba0-49e1-815e-d8db1cb2d0a7",
                        "mediaKey": "e53c6ad8-8117-4eb7-946c-1b8dd55f5665",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "11th and 12th Grade"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "eace9931-8a7a-42e9-889b-ee8519bb6d3a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e37a81ce-4629-4238-bcb0-f347c13180b8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c3224ba7-73e7-4fd2-b0ec-97b3a493d0ae",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "181b0704-5f98-4cec-9227-3195191201e8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "eace9931-8a7a-42e9-889b-ee8519bb6d3a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e37a81ce-4629-4238-bcb0-f347c13180b8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c3224ba7-73e7-4fd2-b0ec-97b3a493d0ae",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "181b0704-5f98-4cec-9227-3195191201e8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "34d49933-bc15-46ae-a841-ae3d61fcfdf4",
      "values": [
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Style 2"
          ]
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "columnSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "gutters-xl"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "159d3a50-c57f-42c0-a62d-a7e4e7a0b4d1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "159d3a50-c57f-42c0-a62d-a7e4e7a0b4d1",
        "contentUdi": null,
        "settingsKey": "34d49933-bc15-46ae-a841-ae3d61fcfdf4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Administration]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>