<?xml version="1.0" encoding="utf-8"?>
<Content Key="5118163b-6efe-4a18-9ec4-c219056aa1a5" Alias="AJROTC" Level="4">
  <Info>
    <Parent Key="f51f012e-688d-4521-b82e-1e775ec9498a">Staff Directory</Parent>
    <Path>/Home/About/StaffDirectory/AJROTC</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T16:53:11</CreateDate>
    <NodeName Default="AJROTC" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
      "values": [
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Huascar Matias"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Senior Army Instructor"
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "714-663-6569"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cb270e0a-33da-470f-a82a-d7dcc3802fe1",
                        "mediaKey": "2af70608-1000-49f9-9e7d-953822dcb15f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Vance Richardson"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1st Sergeant"
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "714-663-6569"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "54384aa5-c837-4fbe-a0b0-e9635c8c32a0",
                        "mediaKey": "0ce2d51d-a1d5-4119-8f8c-85b5f8e0ab1a",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "eb040f32-bc97-431a-aeca-e78efb015680",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
        "contentUdi": null,
        "settingsKey": "eb040f32-bc97-431a-aeca-e78efb015680",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>