<?xml version="1.0" encoding="utf-8"?>
<Content Key="8022c1fa-bc27-4a51-8b2a-fd2c437d68ac" Alias="Alumni Directory" Level="3">
  <Info>
    <Parent Key="dada151e-3696-490b-895e-bb874367887a">Contact</Parent>
    <Path>/Home/Contact/AlumniDirectory</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T14:00:00</CreateDate>
    <NodeName Default="Alumni Directory" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "74c1c4a1-e573-4423-92d5-387bdb606660",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Santiago High School Alumni Association is composed of alumni who are interested in contributing to the constant improvement of Santiago High School\u0027s well-being and helping current students achieve the highest career goals possible. We have an Annual All Alumni Reunion Picnic the first Saturday in June to help raise funds for the students at Santiago for scholarships, equipment, and supplies. At the same time, we have fun reconnecting with old friends and classmates. This past picnic brought over 200 alumni back to our campus! Since the first picnic was held in 2006, we have given out approximately 100 scholarships to college-bound students amounting to over $90,000!! Please join us in giving back to Santiago and attend the All Alumni Reunion Picnics.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b7c30a10-0001-4c30-b8a1-b7c30a100001",
      "key": "6a32cd8d-6375-4552-9dfe-9451565a7401",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alumni Impact"
        },
        {
          "alias": "stats",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b7c30a10-0002-4c30-b8a1-b7c30a100001",
                "key": "293a9801-d0e1-48f4-98b3-919d13f5747c",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-users"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "200\u002B"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Alumni back for last year\u0027s reunion picnic"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "b7c30a10-0002-4c30-b8a1-b7c30a100001",
                "key": "7a614394-e370-489f-b1de-6287abee8198",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-graduation-cap"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "~100"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Scholarships awarded since 2006"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "b7c30a10-0002-4c30-b8a1-b7c30a100001",
                "key": "2ffd3774-259c-44c9-b941-93e394b32a9f",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-usd"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "$90,000\u002B"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Raised for scholarships, equipment, and supplies"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "b7c30a10-0002-4c30-b8a1-b7c30a100001",
                "key": "b05bad06-1bed-47ad-a994-405a5dd58ce0",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-calendar"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1st Sat in June"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Annual All Alumni Reunion Picnic"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "293a9801-d0e1-48f4-98b3-919d13f5747c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7a614394-e370-489f-b1de-6287abee8198",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2ffd3774-259c-44c9-b941-93e394b32a9f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b05bad06-1bed-47ad-a994-405a5dd58ce0",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "293a9801-d0e1-48f4-98b3-919d13f5747c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7a614394-e370-489f-b1de-6287abee8198",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2ffd3774-259c-44c9-b941-93e394b32a9f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b05bad06-1bed-47ad-a994-405a5dd58ce0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "47537d0a-6363-4a6d-aee6-3741a8772d9c",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alumni Resources"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJump straight to the Alumni Association\u0027s tools on our district site.\u003C/p\u003E"
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "e6d09ace-88be-46a3-a975-1a649e6bd2ba",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Alumni Directory"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-search"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Alumni Directory",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "ac6a9e35-6a7c-4b13-8dde-2ddc4998c40e",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Register Yourself"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-user-plus"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Register Yourself",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51d9c057-865b-46ee-afd6-45c41ca37322",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Alumni Calendar"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-calendar"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Alumni Calendar",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "98696aba-2dc8-4241-9878-cdafc30d1a08",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Post a Memoir"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-pencil"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Post a Memoir",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "89f69a2a-910a-4bcc-9801-b0376118ef1a",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Read Memoirs"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-book"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Read Memoirs",
                        "target": "_self",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "#",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e6d09ace-88be-46a3-a975-1a649e6bd2ba",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ac6a9e35-6a7c-4b13-8dde-2ddc4998c40e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51d9c057-865b-46ee-afd6-45c41ca37322",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "98696aba-2dc8-4241-9878-cdafc30d1a08",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "89f69a2a-910a-4bcc-9801-b0376118ef1a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e6d09ace-88be-46a3-a975-1a649e6bd2ba",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ac6a9e35-6a7c-4b13-8dde-2ddc4998c40e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51d9c057-865b-46ee-afd6-45c41ca37322",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "98696aba-2dc8-4241-9878-cdafc30d1a08",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "89f69a2a-910a-4bcc-9801-b0376118ef1a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "4eef0af2-13b4-4368-b588-60d7ca0d0431",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alumni Membership Form"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFor those of you that were unable to attend this year\u0027s reunion picnic or for those of you that did attend and got so busy visiting with everyone and forgot to renew your annual membership, have no fear - the form is attached. Annual membership dues are $10 and a lifetime membership is $100. Thank you for supporting the Alumni Association in supporting Santiago! GO CAVS!!!\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Download Membership Form",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": "umb://media/bff0ff69ee3349f3a475c052bff49519",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "102029c0-3a48-4c8b-9558-a5ef271af5f8",
      "key": "662c47bb-cff4-4de5-b724-4b1df6d1dcc5",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Prefer to Sign Up Online?"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWe\u0027re setting up an online membership form. Check back soon, or use the download above in the meantime.\u003C/p\u003E"
          }
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "46a0f243-e710-449b-a9ac-926d243b024a",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "0ed1daba-785a-43f4-ba9b-e9c781a52b10",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "a2b398b5-be62-4298-87bd-377724d93658",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "0d9aa126-ed0b-4566-809e-a8f4ea0f4c37",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "74c1c4a1-e573-4423-92d5-387bdb606660",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a32cd8d-6375-4552-9dfe-9451565a7401",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "47537d0a-6363-4a6d-aee6-3741a8772d9c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4eef0af2-13b4-4368-b588-60d7ca0d0431",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "662c47bb-cff4-4de5-b724-4b1df6d1dcc5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "74c1c4a1-e573-4423-92d5-387bdb606660",
        "contentUdi": null,
        "settingsKey": "46a0f243-e710-449b-a9ac-926d243b024a",
        "settingsUdi": null
      },
      {
        "contentKey": "6a32cd8d-6375-4552-9dfe-9451565a7401",
        "contentUdi": null,
        "settingsKey": "0ed1daba-785a-43f4-ba9b-e9c781a52b10",
        "settingsUdi": null
      },
      {
        "contentKey": "47537d0a-6363-4a6d-aee6-3741a8772d9c",
        "contentUdi": null,
        "settingsKey": "a2b398b5-be62-4298-87bd-377724d93658",
        "settingsUdi": null
      },
      {
        "contentKey": "4eef0af2-13b4-4368-b588-60d7ca0d0431",
        "contentUdi": null,
        "settingsKey": "0d9aa126-ed0b-4566-809e-a8f4ea0f4c37",
        "settingsUdi": null
      },
      {
        "contentKey": "662c47bb-cff4-4de5-b724-4b1df6d1dcc5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Alumni Directory]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>