<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc22cb5d-5719-43f8-9365-94ecf5fd88fb" Alias="Alumni Directory Browse" Level="4">
  <Info>
    <Parent Key="8022c1fa-bc27-4a51-8b2a-fd2c437d68ac">Alumni Directory</Parent>
    <Path>/Home/Contact/AlumniDirectory/AlumniDirectoryBrowse</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-15T00:00:00</CreateDate>
    <NodeName Default="Browse Alumni" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6978a64d-1fb1-465e-8f98-0f4ba0c8b911",
      "key": "a1b2c3d4-0001-4001-8001-000000000001",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Browse the Alumni Directory"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "a1b2c3d4-0002-4002-8002-000000000002",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1b2c3d4-0001-4001-8001-000000000001",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a1b2c3d4-0001-4001-8001-000000000001",
        "contentUdi": null,
        "settingsKey": "a1b2c3d4-0002-4002-8002-000000000002",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Browse Alumni]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
  </Properties>
</Content>
