<?xml version="1.0" encoding="utf-8"?>
<Content Key="d30d77f0-13c6-4f29-8c77-ce482666c07c" Alias="AP Testing Information" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/APTestingInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T10:00:00</CreateDate>
    <NodeName Default="AP Testing Information" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "f73e3af2-af50-48af-a374-a78bf93aacc2",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p><strong>AP (Advanced Placement Tests):</strong></p><p>Students at participating American, Canadian, and international schools take Advanced Placement examinations each May. The exams cap a year-long AP course. Most combine multiple-choice questions with free-response essay or problem-solving sections. AP Studio Art is the exception: students submit a portfolio for evaluation.</p><p>Students in the free or reduced-price lunch program qualify for a reduced exam fee. Students must be enrolled in the AP course they are testing in. Any exception needs prior approval from the AP Coordinator.</p>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b2442923-8b18-4852-b6be-4f19b006a0e8",
      "key": "dd92db1d-fc46-435c-b226-33614cf9383f",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AP Exam Resources"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "b68f91f8-ca10-4796-b6ac-e7eb15f6b028",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-calendar-alt color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2027 AP Exam Dates"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "2027 AP Exam Dates",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://apcentral.collegeboard.org/exam-administration-ordering-scores/exam-dates",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b68f91f8-ca10-4796-b6ac-e7eb15f6b028",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b68f91f8-ca10-4796-b6ac-e7eb15f6b028",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "cf30182e-6781-4d06-a403-60bb4a5c00fa",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "11d02101-ea13-4ca1-ade0-3919703412fc",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f73e3af2-af50-48af-a374-a78bf93aacc2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dd92db1d-fc46-435c-b226-33614cf9383f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f73e3af2-af50-48af-a374-a78bf93aacc2",
        "contentUdi": null,
        "settingsKey": "cf30182e-6781-4d06-a403-60bb4a5c00fa",
        "settingsUdi": null
      },
      {
        "contentKey": "dd92db1d-fc46-435c-b226-33614cf9383f",
        "contentUdi": null,
        "settingsKey": "11d02101-ea13-4ca1-ade0-3919703412fc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[AP Testing Information]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>