<?xml version="1.0" encoding="utf-8"?>
<Content Key="868c2ab9-bcba-41a6-8114-be747ceae4c4" Alias="ASB" Level="3">
  <Info>
    <Parent Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1">Students</Parent>
    <Path>/Home/Students/ASB</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T12:00:00</CreateDate>
    <NodeName Default="ASB" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "3c0f8456-44e6-43c1-8722-a21ea0a287f8",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Every student at Santiago High School is part of the Student Body. A group of elected representatives serves in the Leadership class during 4th period, promoting school spirit and building pride across our community.</p><p>ASB plans and runs some of the year's biggest events, including Homecoming, Wintermas, the Sadie Hawkins Dance, and International Week, plus dress-up days, lunchtime games, and support at sporting events, parent nights, and registration.</p><p>Members also run the Purple Pit Student Store during break, lunch, and after school, and handle daily poster and balloon orders, meeting almost every day to decide how to spend student funds.</p><p>ASB's goal is to build positive, friendly relationships among Cavaliers, recognizing students and staff through appreciation weeks, luncheons, and special events, in support of a safe and memorable school for everyone.</p>"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ASB / Leadership"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Student Leadership"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Mrs. Garcia",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
              "url": null,
              "queryString": "?q=Jennafer+Garcia",
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "d73a9402-c484-4a19-9014-67e810669b41",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#f3edfa"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3c0f8456-44e6-43c1-8722-a21ea0a287f8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3c0f8456-44e6-43c1-8722-a21ea0a287f8",
        "contentUdi": null,
        "settingsKey": "d73a9402-c484-4a19-9014-67e810669b41",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[ASB]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>