<?xml version="1.0" encoding="utf-8"?>
<Content Key="3cb14e77-d6eb-471f-b082-0c34bb2912e6" Alias="Athletics Calendar" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/AthleticsCalendar</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T18:25:25</CreateDate>
    <NodeName Default="Athletics Calendar" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "102029c0-3a48-4c8b-9558-a5ef271af5f8",
      "key": "635a7452-b631-4d3a-aa30-132507b9de45",
      "values": [
        {
          "alias": "customHtml",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u003Ciframe width=\u0022115%\u0022 height=\u00222200\u0022 marginwidth=\u00220\u0022 marginheight=\u00220\u0022 hspace=\u00220\u0022 vspace=\u00220\u0022 frameborder=\u0022200\u0022 scrolling=\u0022yes\u0022 src=\u0027https://www.cifsshome.org/widget/calendar?school_id=434\u0026year_id=184\u0026available_event_type_ids=home,away,neutral,2,3,4,5\u0026event_type_ids=home,away,neutral,2,3,4\u0026filters=year,sport,level,game_type,opponent,facility\u0026view=dayGridMonth\u0026layout=top\u0026extras=\u0027\u003E\u003C/iframe\u003E"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "embed-purple"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "635a7452-b631-4d3a-aa30-132507b9de45",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "635a7452-b631-4d3a-aa30-132507b9de45",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Athletics Calendar]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>