<?xml version="1.0" encoding="utf-8"?>
<Content Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05" Alias="Athletics" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Athletics</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T20:57:45</CreateDate>
    <NodeName Default="Athletics" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e8dacf2f-a675-49de-b8b8-9e1ffb533e3e">Athletics</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "ab9a554b-5144-471e-9345-0f2b241dd8dd",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "57fc0e26-7ae7-4f2b-9eba-37f0d8a69525",
              "mediaKey": "6c47e226-5e90-4c6d-a822-420651a794dd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "About",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/77ea5b988a0942b6b7058c6bb3fabdf7",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5cfefb2-1d4b-46d3-af96-21c1ca546040",
      "key": "60b5171c-577d-4bbf-80e5-3b0b9f0de13a",
      "values": [
        {
          "alias": "imageBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "0793ada8-2afb-4934-8ea7-0d004ee24a2d",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9764763c-50e5-4dcc-a4c8-7c587d51e052",
                        "mediaKey": "d8ec79cb-727f-439d-b6c5-0f0ceb3c6cb8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "e5d02976-b9f5-46be-bf24-35bdef1dbe03",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9d4fa094-a110-41c0-a226-0b6d464bc909",
                        "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "8e251a03-dd58-42e2-b64d-6d03d12b0b06",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9eb3a3de-78b0-47eb-bd27-c82f68d46cca",
                        "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
                "key": "aadd9856-e313-4382-8cda-630d2325e08b",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9cdc10db-8a0b-4a9b-bd19-08a06e2788b2",
                        "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0793ada8-2afb-4934-8ea7-0d004ee24a2d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e5d02976-b9f5-46be-bf24-35bdef1dbe03",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8e251a03-dd58-42e2-b64d-6d03d12b0b06",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "aadd9856-e313-4382-8cda-630d2325e08b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0793ada8-2afb-4934-8ea7-0d004ee24a2d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e5d02976-b9f5-46be-bf24-35bdef1dbe03",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8e251a03-dd58-42e2-b64d-6d03d12b0b06",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "aadd9856-e313-4382-8cda-630d2325e08b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "1445fd1c-67d5-4079-83c5-0c6a8932d322",
      "values": [
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-end"
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "5feabad7-42ef-4966-be42-2b6ab30cfea0",
      "key": "3ce22b48-7655-4693-b482-e08a5919e6bb",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ab9a554b-5144-471e-9345-0f2b241dd8dd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "60b5171c-577d-4bbf-80e5-3b0b9f0de13a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ab9a554b-5144-471e-9345-0f2b241dd8dd",
        "contentUdi": null,
        "settingsKey": "1445fd1c-67d5-4079-83c5-0c6a8932d322",
        "settingsUdi": null
      },
      {
        "contentKey": "60b5171c-577d-4bbf-80e5-3b0b9f0de13a",
        "contentUdi": null,
        "settingsKey": "3ce22b48-7655-4693-b482-e08a5919e6bb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Athletics]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>