<?xml version="1.0" encoding="utf-8"?>
<Content Key="c83307e2-20fc-492d-976e-25cfa1110545" Alias="Athletic Clearance" Level="4">
  <Info>
    <Parent Key="68c04d8d-9d85-4c54-9083-0afaf141dfd6">Athletic Department</Parent>
    <Path>/Home/Athletics/AthleticDepartment/AthleticClearance</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T11:00:00</CreateDate>
    <NodeName Default="Athletic Clearance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Athletic Clearance]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>