<?xml version="1.0" encoding="utf-8"?>
<Content Key="c83307e2-20fc-492d-976e-25cfa1110545" Alias="Athletic Clearance" Level="4">
  <Info>
    <Parent Key="68c04d8d-9d85-4c54-9083-0afaf141dfd6">Athletic Department</Parent>
    <Path>/Home/Athletics/AthleticDepartment/AthleticClearance</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T11:00:00</CreateDate>
    <NodeName Default="Athletic Clearance" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a9d1ce00-0000-4b0e-9c22-a9d1ce000001",
      "key": "a1b2c3d4-0001-4a01-9c01-aaaa00000001",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2026\u201327 CLEARANCE"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "fa fa-info-circle"
        },
        {
          "alias": "message",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEvery athlete must be cleared before summer camps, tryouts, or practice. Book physicals for \u003Cstrong\u003E15 May or later\u003C/strong\u003E to protect the season.\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Start clearance",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://www.athleticclearance.com",
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "a1b2c3d4-0002-4a02-9c02-aaaa00000002",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Athletic Clearance"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEvery student who wants to play a sport must finish athletic clearance and receive written confirmation before the first camp, tryout, or practice.\u003C/p\u003E\u003Cp\u003ERegister the athlete and a parent at \u003Ca href=\u0022https://www.athleticclearance.com\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003Ewww.athleticclearance.com\u003C/a\u003E. Choose \u003Cstrong\u003ESantiago Garden Grove\u003C/strong\u003E, not Santiago Corona. Santiago Athletics recommends physical dates of 15 May or later so a season is not interrupted.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8c4ef08f-d620-4e32-9fde-0d367c5549fe",
      "key": "a1b2c3d4-0003-4a03-9c03-aaaa00000003",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How to get cleared"
        },
        {
          "alias": "iconBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "a1b2c3d4-1001-4b01-9d01-bbbb00000001",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-user-plus"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1. Register online"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ECreate an account at athleticclearance.com and select \u003Cstrong\u003ESantiago Garden Grove\u003C/strong\u003E, not Santiago Corona.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "a1b2c3d4-1001-4b01-9d01-bbbb00000002",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clipboard"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2. Complete the forms"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFill in every clearance section for the athlete and a parent. New players also submit the Acknowledgement of Risk form.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "a1b2c3d4-1001-4b01-9d01-bbbb00000003",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-heartbeat"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3. Turn in a physical"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EUpload the physical to your athleticclearance.com profile and drop the hard copy at the front office. A physical dated 15 May or later covers the whole season.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "a1b2c3d4-1001-4b01-9d01-bbbb00000004",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-check-circle"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "4. Wait for confirmation"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDo not try out or practise until Santiago Athletics confirms that the athlete is cleared to play.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000004",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-1001-4b01-9d01-bbbb00000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "a1b2c3d4-0004-4a04-9c04-aaaa00000004",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Eligibility and insurance"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cul\u003E\u003Cli\u003EA 2.0 grade point average is required and must stay at or above 2.0 for the whole season.\u003C/li\u003E\u003Cli\u003ENew players must have an Acknowledgement of Risk form on file.\u003C/li\u003E\u003Cli\u003EStudents without medical insurance can buy low-cost cover through \u003Ca href=\u0022https://myers-stevens.com/enrollment/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003EMyers-Stevens\u003C/a\u003E.\u003C/li\u003E\u003C/ul\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "a1b2c3d4-0005-4a05-9c05-aaaa00000005",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Forms and documents"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000001",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Preparticipation Physical Evaluation"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Preparticipation Physical Evaluation",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/b065624a211a402d8a06f6d7c6aa656d",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000002",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Acknowledgement of Risk (new players)"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000003",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Online Clearance Instructions"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000004",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Informed Consent for Athletic Participation"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Informed Consent for Athletic Participation",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/47b540faa7f34c99939e837027d9e354",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000005",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Student Accident \u0026 Sickness Insurance (optional)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Student Accident \u0026 Sickness Insurance",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/ef348d659f7441379379b888945405ef",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000006",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Student Accident \u0026 Sickness Insurance \u2013 Spanish (optional)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Student Accident \u0026 Sickness Insurance \u2013 Spanish",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/7334fa75d72846989f13344dc8609fd1",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000007",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sex Equity in Education Act Reporting 2018\u20132019"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Sex Equity in Education Act Reporting 2018\u20132019",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/22a09757ab3d401b9ca37b88713c8867",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "a1b2c3d4-2001-4c01-9e01-cccc00000008",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Athletic clearance website"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Athletic clearance website",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.athleticclearance.com",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000004",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000005",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000006",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000007",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000008",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000005",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000006",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000007",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a1b2c3d4-2001-4c01-9e01-cccc00000008",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "a1b2c3d4-0002-4f02-8c02-dddd00000002",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "a1b2c3d4-0003-4f03-8c03-dddd00000003",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-5"
        }
      ]
    },
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "a1b2c3d4-0004-4f04-8c04-dddd00000004",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "a1b2c3d4-0005-4f05-8c05-dddd00000005",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a1b2c3d4-0001-4a01-9c01-aaaa00000001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-0002-4a02-9c02-aaaa00000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-0003-4a03-9c03-aaaa00000003",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-0004-4a04-9c04-aaaa00000004",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1b2c3d4-0005-4a05-9c05-aaaa00000005",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a1b2c3d4-0001-4a01-9c01-aaaa00000001",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a1b2c3d4-0002-4a02-9c02-aaaa00000002",
        "contentUdi": null,
        "settingsKey": "a1b2c3d4-0002-4f02-8c02-dddd00000002",
        "settingsUdi": null
      },
      {
        "contentKey": "a1b2c3d4-0003-4a03-9c03-aaaa00000003",
        "contentUdi": null,
        "settingsKey": "a1b2c3d4-0003-4f03-8c03-dddd00000003",
        "settingsUdi": null
      },
      {
        "contentKey": "a1b2c3d4-0004-4a04-9c04-aaaa00000004",
        "contentUdi": null,
        "settingsKey": "a1b2c3d4-0004-4f04-8c04-dddd00000004",
        "settingsUdi": null
      },
      {
        "contentKey": "a1b2c3d4-0005-4a05-9c05-aaaa00000005",
        "contentUdi": null,
        "settingsKey": "a1b2c3d4-0005-4f05-8c05-dddd00000005",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Athletic Clearance]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>