<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe76968e-2feb-4fb0-b213-f94a179f941b" Alias="Attendance Policy" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/AttendancePolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-14T03:09:59</CreateDate>
    <NodeName Default="Attendance Policy" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Attendance Policy",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/13c80507a2df489eb250c1f5b090cfe3",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>