<?xml version="1.0" encoding="utf-8"?>
<Content Key="b54f6673-1e16-465e-8fc7-6d023e4a20fa" Alias="Boys Basketball" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/BoysBasketball</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-14T21:34:22</CreateDate>
    <NodeName Default="Boys Basketball" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "8f660b7d-eeab-40cc-a00a-5a103f57ee19",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Ca data-router-slot=\u0022disabled\u0022 data-anchor=\u0022?usp=sharing\u0022 href=\u0022https://docs.google.com/spreadsheets/d/15TD31D_Rfg6RvDSWcHG9a99CQATWg6SHRyF0J_Kxeeg/edit?usp=sharing\u0022 title=\u0022Athletic Calendar\u0022 type=\u0022external\u0022\u003E\u003Cstrong\u003E\u003Cu\u003EAthletic Calendar\u003C/u\u003E\u003C/strong\u003E\u003C/a\u003E\u003C/p\u003E\u003Cp\u003EPlease click on the link to our Athletic Calendar and use the tabs at the bottom to see each sport\u0027s schedule.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "b2620a44-a2b6-4026-a22c-b06fe05e668b",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "e92dd6d1-6484-46c4-928a-bf5896585b1f",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0e01d7a4-ba35-4479-a5d7-73c24be5f33e",
                        "mediaKey": "9e9eada7-0ae1-4607-9c1a-ba1b0f220899",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EBoys Basketball!\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e92dd6d1-6484-46c4-928a-bf5896585b1f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e92dd6d1-6484-46c4-928a-bf5896585b1f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "96b9e0fb-6754-4bdd-8394-7c62a6c4a295",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "cecc000d-f6f0-4377-b3a3-600065a2a3f2",
      "values": [
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8f660b7d-eeab-40cc-a00a-5a103f57ee19",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b2620a44-a2b6-4026-a22c-b06fe05e668b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8f660b7d-eeab-40cc-a00a-5a103f57ee19",
        "contentUdi": null,
        "settingsKey": "96b9e0fb-6754-4bdd-8394-7c62a6c4a295",
        "settingsUdi": null
      },
      {
        "contentKey": "b2620a44-a2b6-4026-a22c-b06fe05e668b",
        "contentUdi": null,
        "settingsKey": "cecc000d-f6f0-4377-b3a3-600065a2a3f2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Boys Basketball]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>