<?xml version="1.0" encoding="utf-8"?>
<Content Key="93f09944-6a3d-4475-8d07-7acc46a9cfd8" Alias="Boys Basketball" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/BoysBasketball</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-03T16:08:02</CreateDate>
    <NodeName Default="Boys Basketball" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Boys Basketball",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/9e9eada70ae146079c1aba1b0f220899",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>