<?xml version="1.0" encoding="utf-8"?>
<Content Key="d52e8912-8d2e-4b02-b7d8-0f50456d032b" Alias="Cheating" Level="4">
  <Info>
    <Parent Key="b79a7cef-c2c2-4069-895d-0663d87f360d">Policies</Parent>
    <Path>/Home/Students/Policies/Cheating</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-04T13:00:00</CreateDate>
    <NodeName Default="Cheating" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "c6c2ae53-816d-4aaf-9417-bcff26311d12",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Cheating is using improper assistance to complete assigned work and/or tests.</p>"
          }
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "195c0d04-ad03-4d4c-8f8d-6f19df92f0c2",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "What Counts as Cheating"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Prohibited behaviors include: submitting copied work or projects belonging to others; sharing assignments for copying purposes; using uncited internet sources or material; using cheat sheets during assessments; discussing test content with other students; and using translation tools or AI programs such as ChatGPT for academic work.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "af1323bd-a2f8-49fd-869e-0eeeb3a63149",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "First Offense"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Students receive a zero on the assignment, are assigned an Administrative detention, and parents are contacted.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "2f813f25-4f0e-4376-b937-1ff05542de1c",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Second Offense"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Saturday School assignment, with a mandatory parent conference.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "430d9e85-5694-404b-8f64-403e7f90db05",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Additional Penalties"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Suspension for stealing exam materials, ineligibility for academic awards, possible revocation of sports/club participation, and an F for the quarter for altering gradebooks or cheating on finals. Serious violations may result in referral to the District Discipline Committee.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "195c0d04-ad03-4d4c-8f8d-6f19df92f0c2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "af1323bd-a2f8-49fd-869e-0eeeb3a63149",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2f813f25-4f0e-4376-b937-1ff05542de1c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "430d9e85-5694-404b-8f64-403e7f90db05",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "195c0d04-ad03-4d4c-8f8d-6f19df92f0c2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "af1323bd-a2f8-49fd-869e-0eeeb3a63149",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2f813f25-4f0e-4376-b937-1ff05542de1c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "430d9e85-5694-404b-8f64-403e7f90db05",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "fdbbbcc8-0e8b-429e-9d85-dd9af092fa77",
      "values": [
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c6c2ae53-816d-4aaf-9417-bcff26311d12",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c6c2ae53-816d-4aaf-9417-bcff26311d12",
        "contentUdi": null,
        "settingsKey": "fdbbbcc8-0e8b-429e-9d85-dd9af092fa77",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Cheating]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
