<?xml version="1.0" encoding="utf-8"?>
<Content Key="25fe253e-c6d8-4a38-9b89-1e6429e52f8f" Alias="Classes / Homework" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ClassesHomework</Path>
    <Trashed Parent="24ab1d45-0563-49e7-b5ad-55cd648be7f1">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T09:00:00</CreateDate>
    <NodeName Default="Classes / Homework" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Classes / Homework]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>