<?xml version="1.0" encoding="utf-8"?>
<Content Key="65f9324d-b41f-4b0f-8d1b-e180fa4530be" Alias="College Rep Visits" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/CollegeRepVisits</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-02T16:22:30</CreateDate>
    <NodeName Default="College Rep Visits" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "College Rep Visits",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/9fe7290980c24f7fa81cc3041fe0f34d",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>