<?xml version="1.0" encoding="utf-8"?>
<Content Key="00f1fc95-d297-4543-a910-3fbe1ca1a0c3" Alias="College Boost" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/CollegeBoost</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-02T16:06:24</CreateDate>
    <NodeName Default="College Boost" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "College Boost",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/72840688c57541c0a6e01a93dffc202d",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>