<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ff0e397-de98-4d1e-9f08-7e3714289f0a" Alias="College Entrance Requirements" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/CollegeEntranceRequirements</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-28T10:00:00</CreateDate>
    <NodeName Default="College Entrance Requirements" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "College Entrance Requirements",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://media/69d2d64454a049c088e54c0cae0eb4e5",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>