<?xml version="1.0" encoding="utf-8"?>
<Content Key="566eb90c-9215-4f5d-8433-9d24f0e86968" Alias="Community Outreach" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/CommunityOutreach</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T13:00:00</CreateDate>
    <NodeName Default="Community Outreach" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "2883cdfa-28ca-4800-98de-e038e9248d5c",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESantiago High School\u0027s Community Outreach team partners with families and the surrounding community to remove barriers to attendance, connect students with resources, and strengthen the relationship between home and school. Our Community Liaisons, Teacher Coach, and Outreach Specialist are here to help with enrollment questions, translation, and connecting your family with local support services.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "c1b69720-0000-4a10-9c22-c1b697200001",
      "key": "55cccf6b-d1bb-47c6-9a27-2bc991a78542",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Meet the Outreach Team"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "clubs",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "7a30fc91-95ac-4164-a48a-d70b238ed1b1",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Graciela Abrego - Community Liaison"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GA"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Graciela\u002BAbrego",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "78853298-60dc-437d-8a27-49fab4cb3cce",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Grace D\u0027Angelo - Community Liaison"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GD"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Grace\u002BD%27Angelo",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "3530e8fb-90d4-40d4-8009-ce9b75121dbc",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thu Dang - Community Liaison"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "TD"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Thu\u002BDang",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "05589d2e-ccda-4e20-9429-9f929f2b3ea2",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nicole Doone - Teacher Coach"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ND"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Nicole\u002BDoone",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "f2985be2-6cd8-4c7f-9975-023d4a03de99",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Martha Esparza - Community Liaison"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ME"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Martha\u002BEsparza",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                "key": "9a3b7c2a-37f6-4ae6-824c-7c852508e165",
                "values": [
                  {
                    "alias": "clubName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tony Serrano - Outreach Specialist"
                  },
                  {
                    "alias": "initials",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "TS"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": "?q=Tony\u002BSerrano",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7a30fc91-95ac-4164-a48a-d70b238ed1b1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "78853298-60dc-437d-8a27-49fab4cb3cce",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3530e8fb-90d4-40d4-8009-ce9b75121dbc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "05589d2e-ccda-4e20-9429-9f929f2b3ea2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f2985be2-6cd8-4c7f-9975-023d4a03de99",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9a3b7c2a-37f6-4ae6-824c-7c852508e165",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7a30fc91-95ac-4164-a48a-d70b238ed1b1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "78853298-60dc-437d-8a27-49fab4cb3cce",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3530e8fb-90d4-40d4-8009-ce9b75121dbc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "05589d2e-ccda-4e20-9429-9f929f2b3ea2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f2985be2-6cd8-4c7f-9975-023d4a03de99",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9a3b7c2a-37f6-4ae6-824c-7c852508e165",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "viewAllLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "ce2b1be7-99ed-4def-84b5-01c6e8f9cf56",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Parent and Family Resources"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EQuick access to the district systems families use most: the parent portal, gradebook, email, and food services.\u003C/p\u003E"
          }
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "9a8a80c4-2762-4597-85fd-3c7352d09358",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Parent Portal"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-id-card"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Parent Portal",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://mykids.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "6bb5119a-0cc1-4cf7-a834-9e0ff425c0dc",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aeries"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-graduation-cap"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Aeries.net",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://gardengroveusd.aeries.net/admin/Login.aspx",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "2c871b34-d7ab-44ca-988f-f6fc5d62be07",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GGUSD Webmail"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-envelope"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "GGUSD Webmail",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://webmail.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "471bd7a1-5d7c-4a6d-816b-c5f85dddd331",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "District Food Services"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-cutlery"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "District Food Services",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://foodservices.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9a8a80c4-2762-4597-85fd-3c7352d09358",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6bb5119a-0cc1-4cf7-a834-9e0ff425c0dc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2c871b34-d7ab-44ca-988f-f6fc5d62be07",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "471bd7a1-5d7c-4a6d-816b-c5f85dddd331",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9a8a80c4-2762-4597-85fd-3c7352d09358",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6bb5119a-0cc1-4cf7-a834-9e0ff425c0dc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2c871b34-d7ab-44ca-988f-f6fc5d62be07",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "471bd7a1-5d7c-4a6d-816b-c5f85dddd331",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "0db4c380-c4b0-4f58-b974-c710df167f27",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c8992a32-dfb9-4c07-8eef-6c71f45dba95",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0b494449-ea0a-40f0-b6bd-9adac937393f",
                        "mediaKey": "55e7a17e-db11-4931-8fba-fd8c074172d8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "28f1d7e8-7755-4315-b929-c74da75f4fb7",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f840a9e6-a5f5-4ae6-bdb9-268d15f949bd",
                        "mediaKey": "03bc9ba0-b14e-4a9a-b312-e18344ae2ee2",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "9f161a99-82ab-4ded-8526-06260224e362",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "740b0763-0cbe-4f80-98a0-b6674fe8d71b",
                        "mediaKey": "9980c416-0c3c-4320-adee-31123e353c6c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c8992a32-dfb9-4c07-8eef-6c71f45dba95",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "28f1d7e8-7755-4315-b929-c74da75f4fb7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9f161a99-82ab-4ded-8526-06260224e362",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c8992a32-dfb9-4c07-8eef-6c71f45dba95",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "28f1d7e8-7755-4315-b929-c74da75f4fb7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9f161a99-82ab-4ded-8526-06260224e362",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "0a6291fc-9627-4a4c-8930-b655ccb77cf5",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "3bc36d9e-ce7e-43a9-88cc-fe20cf4749ea",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "02c717e5-99b3-4de1-80a9-f9801fb8e582",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "cd8fbead-d17c-4b41-b284-9e7f73dea785",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        },
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "8"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "contain-slider"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "2883cdfa-28ca-4800-98de-e038e9248d5c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "55cccf6b-d1bb-47c6-9a27-2bc991a78542",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ce2b1be7-99ed-4def-84b5-01c6e8f9cf56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0db4c380-c4b0-4f58-b974-c710df167f27",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2883cdfa-28ca-4800-98de-e038e9248d5c",
        "contentUdi": null,
        "settingsKey": "0a6291fc-9627-4a4c-8930-b655ccb77cf5",
        "settingsUdi": null
      },
      {
        "contentKey": "55cccf6b-d1bb-47c6-9a27-2bc991a78542",
        "contentUdi": null,
        "settingsKey": "3bc36d9e-ce7e-43a9-88cc-fe20cf4749ea",
        "settingsUdi": null
      },
      {
        "contentKey": "ce2b1be7-99ed-4def-84b5-01c6e8f9cf56",
        "contentUdi": null,
        "settingsKey": "02c717e5-99b3-4de1-80a9-f9801fb8e582",
        "settingsUdi": null
      },
      {
        "contentKey": "0db4c380-c4b0-4f58-b974-c710df167f27",
        "contentUdi": null,
        "settingsKey": "cd8fbead-d17c-4b41-b284-9e7f73dea785",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Community Outreach]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>