<?xml version="1.0" encoding="utf-8"?>
<Content Key="96cdfe98-4a82-4ecb-873c-1bc527dbfb72" Alias="Counselors" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/Counselors</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-28T10:00:00</CreateDate>
    <NodeName Default="Counselors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Counselors",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/b1d1a7a3a80146c8bd95fd2874934f1e",
    "url": null,
    "queryString": "#counselors",
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
