<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbddd3ab-ab8c-4257-ab02-0db49b0b6e18" Alias="Deliveries" Level="4">
  <Info>
    <Parent Key="b79a7cef-c2c2-4069-895d-0663d87f360d">Policies</Parent>
    <Path>/Home/Students/Policies/Deliveries</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-04T13:00:00</CreateDate>
    <NodeName Default="Deliveries" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "54e60b0a-58cf-471e-919b-615b784c8d19",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>School personnel will not deliver any personal items to a student during school hours. This includes, but is not limited to, flowers, money, lunches, or clothes.</p>"
          }
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "30bba6ba-847c-4d70-9eed-8e313649da9a",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Picking Up a Delivery"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Students must retrieve deliveries during passing periods or breaks. Students cannot accept items from parents parked in front of the school.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "77370463-5f66-411b-a4f8-8ed90410f9d0",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Food Drop-Offs"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>If food drop-offs are not picked up by the end of the day, they will be thrown away.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "76e36125-63b6-4f34-ba46-e200333b4983",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Balloons"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Balloons are not allowed on campus. If dropped off, they will be kept in the Front Office until the end of the day.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "5de2df08-f0e9-4f26-8b6d-80ade2cdcf2d",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Money"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>No monies over $10 will be accepted in the office to hold for a student.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "30bba6ba-847c-4d70-9eed-8e313649da9a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "77370463-5f66-411b-a4f8-8ed90410f9d0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "76e36125-63b6-4f34-ba46-e200333b4983",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5de2df08-f0e9-4f26-8b6d-80ade2cdcf2d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "30bba6ba-847c-4d70-9eed-8e313649da9a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "77370463-5f66-411b-a4f8-8ed90410f9d0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "76e36125-63b6-4f34-ba46-e200333b4983",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5de2df08-f0e9-4f26-8b6d-80ade2cdcf2d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "3d405b98-3f7b-45b8-9c14-1e51b8223a08",
      "values": [
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "54e60b0a-58cf-471e-919b-615b784c8d19",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "54e60b0a-58cf-471e-919b-615b784c8d19",
        "contentUdi": null,
        "settingsKey": "3d405b98-3f7b-45b8-9c14-1e51b8223a08",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Deliveries]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
