<?xml version="1.0" encoding="utf-8"?>
<Content Key="98bb084f-0a89-4718-958e-942649e4aaf8" Alias="District Food Services" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/DistrictFoodServices</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T13:00:00</CreateDate>
    <NodeName Default="District Food Services" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[District Food Services]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
