<?xml version="1.0" encoding="utf-8"?>
<Content Key="656d959c-4228-4d88-abb3-672f5ecadf71" Alias="District Food Services" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/DistrictFoodServices</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-14T03:09:15</CreateDate>
    <NodeName Default="District Food Services" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "foodservices.ggusd.us",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://foodservices.ggusd.us/",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>