<?xml version="1.0" encoding="utf-8"?>
<Content Key="edf3d73b-6843-4f13-a8d9-066be7ea2b13" Alias="Girls Basketball" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/GirlsBasketball</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T11:00:00</CreateDate>
    <NodeName Default="Girls Basketball" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Girls Basketball]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
