<?xml version="1.0" encoding="utf-8"?>
<Content Key="df352d62-0f0f-4d84-8b00-292fabf66d7c" Alias="Graduation Requirements" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/GraduationRequirements</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-02T16:28:38</CreateDate>
    <NodeName Default="Graduation Requirements" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Graduation Requirements",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/fab9ba6a3fab489a9c5e39c84bb45a17",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>