<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e" Alias="Guidance" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Guidance</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T20:57:28</CreateDate>
    <NodeName Default="Guidance" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="25b5cb00-aa9a-4bc0-b461-6cf6f7576cc5">Guidance</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "7217616d-b739-4430-aab2-d8b3769c2c9b",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d46e9629-0984-4b6c-8572-4300973a05d8",
              "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "45ec2243-03f9-4d54-b9fb-4b529ddccda5",
      "values": [
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-end"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7217616d-b739-4430-aab2-d8b3769c2c9b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7217616d-b739-4430-aab2-d8b3769c2c9b",
        "contentUdi": null,
        "settingsKey": "45ec2243-03f9-4d54-b9fb-4b529ddccda5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Guidance]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>