<?xml version="1.0" encoding="utf-8"?>
<Content Key="af77601a-0a83-4dbb-a0b9-a67b02d30241" Alias="Guidance Office Staff" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/GuidanceOfficeStaff</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-02T16:32:37</CreateDate>
    <NodeName Default="Guidance Office Staff" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Counselors",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/0adbe641d466474bbbfda18876077e70",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>