<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e" Alias="Guidance" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Guidance</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T20:57:28</CreateDate>
    <NodeName Default="Guidance" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="25b5cb00-aa9a-4bc0-b461-6cf6f7576cc5">Guidance</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "64440d35-9c6c-41b2-93a4-ca81c629e187",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Guidance Staff "
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Guidance Staff 2"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere are our counselors!\u003C/p\u003E"
          }
        },
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "23e395e4-f1b6-40ec-ad61-f57afe29066a",
                "values": [
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "db588858-80ff-47be-96ab-e5a00d61ce34",
                        "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "School Counselor"
                  },
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Andrew Kazim is A-L "
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "akazim@ggusd.us"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 11pt; font-family: Aptos, sans-serif;\u0022\u003EAndrew Kazim is A-L\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "61558e83-5fc6-474b-9114-3dc9a517b62e",
                "values": [
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c864f27c-0f45-446d-97c7-cbdc724f623c",
                        "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Vivian Reyes"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EVivian Reyes M-Z\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "School Counselor"
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "vreyes@ggusd.us"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "23e395e4-f1b6-40ec-ad61-f57afe29066a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "61558e83-5fc6-474b-9114-3dc9a517b62e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "23e395e4-f1b6-40ec-ad61-f57afe29066a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "61558e83-5fc6-474b-9114-3dc9a517b62e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "97a67722-3a7a-44bd-87fb-4eb6e51e24e1",
      "key": "7ae660de-7f43-460f-9816-487d4f9c4379",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Upcoming Events"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Here\u0027s what to come!"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere are events happening soon!\u003C/p\u003E"
          }
        },
        {
          "alias": "eventsList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
                "key": "76aa16b3-66e2-4d7b-9315-b82cf5aef76b",
                "values": [
                  {
                    "alias": "eventDate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2026-08-24T17:00:00"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "School Dance Party"
                  },
                  {
                    "alias": "location",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "MPR"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EParty in the MPR\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "featured",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "76aa16b3-66e2-4d7b-9315-b82cf5aef76b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "76aa16b3-66e2-4d7b-9315-b82cf5aef76b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6a969831-9314-4810-9e23-7cb4de2d0f63",
      "key": "dfadb18d-dd65-451d-89e8-9f7ea1709398",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "College Planning"
        },
        {
          "alias": "milestones",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7f6af526-a07a-4523-bd83-1f1d68d30b7b",
                "key": "8feb0a0a-058a-4802-b8ae-c981988e939a",
                "values": [
                  {
                    "alias": "grade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "9th Grade"
                  },
                  {
                    "alias": "items",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "4-year plan\nExplore interest"
                  },
                  {
                    "alias": "current",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "7f6af526-a07a-4523-bd83-1f1d68d30b7b",
                "key": "32e8b953-3d9b-4226-b838-6eb852b119c0",
                "values": [
                  {
                    "alias": "grade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10th Grade"
                  },
                  {
                    "alias": "items",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "PSAT prep\nVisit colleges "
                  },
                  {
                    "alias": "current",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "7f6af526-a07a-4523-bd83-1f1d68d30b7b",
                "key": "76218408-1be1-4d12-9d62-e502297eaca1",
                "values": [
                  {
                    "alias": "grade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "11th Grade"
                  },
                  {
                    "alias": "items",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "SAT/ACT\nCollege list"
                  },
                  {
                    "alias": "current",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "7f6af526-a07a-4523-bd83-1f1d68d30b7b",
                "key": "24f41afb-7fbb-4b80-a211-50d9fd408c85",
                "values": [
                  {
                    "alias": "grade",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "12th Grade"
                  },
                  {
                    "alias": "items",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Applications\nFinancial Aid"
                  },
                  {
                    "alias": "current",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8feb0a0a-058a-4802-b8ae-c981988e939a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "32e8b953-3d9b-4226-b838-6eb852b119c0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "76218408-1be1-4d12-9d62-e502297eaca1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "24f41afb-7fbb-4b80-a211-50d9fd408c85",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8feb0a0a-058a-4802-b8ae-c981988e939a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "32e8b953-3d9b-4226-b838-6eb852b119c0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "76218408-1be1-4d12-9d62-e502297eaca1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "24f41afb-7fbb-4b80-a211-50d9fd408c85",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "8338249b-1944-4f44-9ce4-2a6845f2bee8",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Resources \u0026 Forms"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETest\u003C/p\u003E"
          }
        },
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "1b97ca6f-80fb-4dce-a768-cb1eede44b3a",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "College Entrance Req."
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "d3800f7a-b0c3-46ce-9293-a1af0662a480",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "SAT/ACT Info"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "b74944a8-a738-4ed7-9162-de80bc30ff8f",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Aid"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "65ecade0-58d0-47fb-b801-335e262e086f",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Scholarships"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "ae9b4f8c-caf1-4963-85da-1db9be4232ec",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Grade Reports"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "6e508090-218e-4375-9436-9b4b967bdd23",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AP Testing Info"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1b97ca6f-80fb-4dce-a768-cb1eede44b3a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d3800f7a-b0c3-46ce-9293-a1af0662a480",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b74944a8-a738-4ed7-9162-de80bc30ff8f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "65ecade0-58d0-47fb-b801-335e262e086f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ae9b4f8c-caf1-4963-85da-1db9be4232ec",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6e508090-218e-4375-9436-9b4b967bdd23",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1b97ca6f-80fb-4dce-a768-cb1eede44b3a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d3800f7a-b0c3-46ce-9293-a1af0662a480",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b74944a8-a738-4ed7-9162-de80bc30ff8f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "65ecade0-58d0-47fb-b801-335e262e086f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ae9b4f8c-caf1-4963-85da-1db9be4232ec",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6e508090-218e-4375-9436-9b4b967bdd23",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "f4fc10d3-4b96-48cf-979f-aeda7f52dc7d",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "counselors"
        }
      ]
    },
    {
      "contentTypeKey": "5b31eb53-a87d-47db-8a51-ca69868c4a74",
      "key": "7324f5f7-3adc-47f1-a2b5-b7df86fa39be",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "3250bcdc-fdc9-4dd2-b519-b47fc39fac58",
      "key": "bb7a1a37-4948-4f87-a134-03256fb37ad1",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "college-planning"
        }
      ]
    },
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "94ae4399-0c50-4181-baa0-ea3f81788a82",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "64440d35-9c6c-41b2-93a4-ca81c629e187",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7ae660de-7f43-460f-9816-487d4f9c4379",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dfadb18d-dd65-451d-89e8-9f7ea1709398",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8338249b-1944-4f44-9ce4-2a6845f2bee8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "64440d35-9c6c-41b2-93a4-ca81c629e187",
        "contentUdi": null,
        "settingsKey": "f4fc10d3-4b96-48cf-979f-aeda7f52dc7d",
        "settingsUdi": null
      },
      {
        "contentKey": "7ae660de-7f43-460f-9816-487d4f9c4379",
        "contentUdi": null,
        "settingsKey": "7324f5f7-3adc-47f1-a2b5-b7df86fa39be",
        "settingsUdi": null
      },
      {
        "contentKey": "dfadb18d-dd65-451d-89e8-9f7ea1709398",
        "contentUdi": null,
        "settingsKey": "bb7a1a37-4948-4f87-a134-03256fb37ad1",
        "settingsUdi": null
      },
      {
        "contentKey": "8338249b-1944-4f44-9ce4-2a6845f2bee8",
        "contentUdi": null,
        "settingsKey": "94ae4399-0c50-4181-baa0-ea3f81788a82",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "7217616d-b739-4430-aab2-d8b3769c2c9b",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d46e9629-0984-4b6c-8572-4300973a05d8",
              "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "45ec2243-03f9-4d54-b9fb-4b529ddccda5",
      "values": [
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-end"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7217616d-b739-4430-aab2-d8b3769c2c9b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7217616d-b739-4430-aab2-d8b3769c2c9b",
        "contentUdi": null,
        "settingsKey": "45ec2243-03f9-4d54-b9fb-4b529ddccda5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Guidance]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>