<?xml version="1.0" encoding="utf-8"?>
<Content Key="add2c4f9-0ef3-446d-baa5-810554e9148b" Alias="Helpful College Websites" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/HelpfulCollegeWebsites</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-02T17:02:30</CreateDate>
    <NodeName Default="Helpful College Websites" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Helpful College Websites",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/b60b974480424547b4a50fde20468b2e",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>