<?xml version="1.0" encoding="utf-8"?>
<Content Key="46639f92-bf68-413a-a89d-14c1c9d5e817" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-07-31T16:54:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="73e47585-5082-4040-a362-0f6891f34bf8">home</Template>
  </Info>
  <Properties>
    <additionalNavBarLinks>
      <Value><![CDATA[]]></Value>
    </additionalNavBarLinks>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Santiago High School]]></Value>
    </pageTitle>
    <showTopBar>
      <Value><![CDATA[0]]></Value>
    </showTopBar>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <topBarLinks>
      <Value><![CDATA[]]></Value>
    </topBarLinks>
    <widgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b2442923-8b18-4852-b6be-4f19b006a0e8",
      "key": "d139d9bd-e440-43b1-9fa9-7d1f2ef08709",
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "4160f998-fd17-458d-9288-20d0805396ac",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-calendar-alt color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Calendar"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "SHS Events",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://calendar.google.com/calendar/embed?src=26f35m9v2n78q2oiuda870f5v6t7um5r%40import.calendar.google.com\u0026ctz=America%2FLos_Angeles",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "37556dc8-60e1-4970-8750-894d16111205",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Faculty "
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-badge color-text"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "7709779d-5f8b-49fe-abc7-b1050d807f73",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bell Schedule"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Bell Schedule",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/003904a024274feab86c21117678c765",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-bell color-text"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "88e5d11f-df43-469d-8307-bb36c0c16f70",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-graduate color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Alumni"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "a5ead9bb-7309-4844-b115-5d68c667d534",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Elos"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-award color-blue"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Staff Directory",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "dccde3a7-f8e2-42c1-917a-346116b9c6b8",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-operator color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aeries"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Aeries",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://gardengroveusd.aeries.net/student/LoginParent.aspx",
                        "queryString": "",
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4160f998-fd17-458d-9288-20d0805396ac",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "37556dc8-60e1-4970-8750-894d16111205",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7709779d-5f8b-49fe-abc7-b1050d807f73",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "88e5d11f-df43-469d-8307-bb36c0c16f70",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a5ead9bb-7309-4844-b115-5d68c667d534",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dccde3a7-f8e2-42c1-917a-346116b9c6b8",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4160f998-fd17-458d-9288-20d0805396ac",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "37556dc8-60e1-4970-8750-894d16111205",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7709779d-5f8b-49fe-abc7-b1050d807f73",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "88e5d11f-df43-469d-8307-bb36c0c16f70",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a5ead9bb-7309-4844-b115-5d68c667d534",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dccde3a7-f8e2-42c1-917a-346116b9c6b8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Quick Links"
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "04bef090-a899-4134-b47f-645a57acc301",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "db3d4cf6-d3b4-40af-bee2-64ba19dd8c73",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "307e392c-a480-43d9-b8f3-148fc8572303",
                        "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "b14430c2-2e37-4e70-bb82-334b80105a68",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "19f5b171-e1ec-4166-b416-b31caeb4df0c",
                        "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c4caaa91-adff-4f15-8193-995e5280bdee",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3d91edf0-b8ce-4031-b041-16df18bb6c6d",
                        "mediaKey": "d8ec79cb-727f-439d-b6c5-0f0ceb3c6cb8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c23032da-797e-4145-8218-ab38733ece51",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ef854147-cc39-433d-936a-703b3d63ce66",
                        "mediaKey": "f00e2b2c-a3c0-4a25-acbc-3d199952278c",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "d3a1e94b-31cb-47d8-b139-0584a0e689ce",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "81ec6454-06f2-4572-8ce7-7aa08824e8bc",
                        "mediaKey": "6c47e226-5e90-4c6d-a822-420651a794dd",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Welcome to Santiago HS"
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EEmpowering Cavaliers to achieve excellence in academics, athletics \u0026amp; the arts.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " 2026\u201327 SCHOOL YEAR"
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Explore Santiago",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/46639f92bf68413aa89d14c1c9d5e817",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      },
                      {
                        "name": "Aeries Portal",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://gardengroveusd.aeries.net/student/LoginParent.aspx",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "6680ea45-702a-488a-b020-ad962e0c3ae1",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9bd62ead-7eec-47d7-a46b-24c1ad45a10c",
                        "mediaKey": "f2d123c4-eb70-4953-9bbc-9de7ac483c27",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "fd10ba59-e382-49c6-8f18-fb987f88637b",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "820ba699-7d96-4b81-a359-f746e3ee0302",
                        "mediaKey": "f9bd51f6-cdcc-400f-bc8c-d8d157729cf1",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "db3d4cf6-d3b4-40af-bee2-64ba19dd8c73",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b14430c2-2e37-4e70-bb82-334b80105a68",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c4caaa91-adff-4f15-8193-995e5280bdee",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c23032da-797e-4145-8218-ab38733ece51",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d3a1e94b-31cb-47d8-b139-0584a0e689ce",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6680ea45-702a-488a-b020-ad962e0c3ae1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fd10ba59-e382-49c6-8f18-fb987f88637b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d3a1e94b-31cb-47d8-b139-0584a0e689ce",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "db3d4cf6-d3b4-40af-bee2-64ba19dd8c73",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b14430c2-2e37-4e70-bb82-334b80105a68",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c4caaa91-adff-4f15-8193-995e5280bdee",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c23032da-797e-4145-8218-ab38733ece51",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6680ea45-702a-488a-b020-ad962e0c3ae1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fd10ba59-e382-49c6-8f18-fb987f88637b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "da3324ce-95fa-48ed-a67e-43705de9693a",
      "key": "4496ba3b-0188-4e81-8f2e-f83a9842d412",
      "values": [
        {
          "alias": "awardsList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4275d06e-5d8f-4785-bc5a-9fd26ba2ce27",
                "key": "5cc70d13-079a-4b4c-a8a5-30218ff4bfe1",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "California Distinguished School"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6968773d-2ee9-418e-b6a0-59cf7ffe2d33",
                        "mediaKey": "c25f8426-8d65-4dd2-8d08-348795784412",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ECongratulations, Cavaliers - Santiago has been recognized as a California Distinguished School!\u003C/p\u003E\u003Cdiv\u003EWe earned this from EVERYONE\u2019S dedication and hard work. \u0026nbsp;It takes an entire school to create a warm, safe, clean, and welcoming place for students to feel comfortable learning, taking risks in their learning, and being involved. \u0026nbsp; This is a tribute to the hard work of all our staff, students, and their families. \u0026nbsp;More to Come!\u003C/div\u003E\u003Cdiv\u003E\u0026nbsp;\u003C/div\u003E\u003Cdiv\u003ESantiago earned this for Achievement Gap Closers: schools that accelerate academic progress for two or more historically underserved groups, while also demonstrating achievement for all students above the state median and maintaining or increasing academic performance for all students.\u003C/div\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5cc70d13-079a-4b4c-a8a5-30218ff4bfe1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5cc70d13-079a-4b4c-a8a5-30218ff4bfe1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "f1a90b1e-0d10-4c71-9a11-b10c11ee0001",
      "key": "e4f1a1ec-a615-4033-9260-fb2a817298f9",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "widgets",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "97a67722-3a7a-44bd-87fb-4eb6e51e24e1",
                "key": "b8c468d2-9932-4031-8d09-01101a5c441b",
                "values": [
                  {
                    "alias": "eventsList",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Upcoming  Events"
                  },
                  {
                    "alias": "googleCalendarUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "https://calendar.google.com/calendar/ical/7m38cg53a3fl1gh79dc69ihn9og1uh1d%40import.calendar.google.com/public/basic.ics"
                  }
                ]
              },
              {
                "contentTypeKey": "9f5e2a20-0003-4c30-b8a1-9f5e2a200001",
                "key": "16dfd463-547f-47ec-b01c-0a6c3a443f6f",
                "values": [
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Recent news"
                  },
                  {
                    "alias": "count",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "5b31eb53-a87d-47db-8a51-ca69868c4a74",
                "key": "3791c761-f33f-4721-a36e-b368df1101a4",
                "values": [
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "centerHeading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "showTopBorder",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "blockStyle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Style 2"
                    ]
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "#4a1f7a"
                  },
                  {
                    "alias": "verticalSpacing",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "9f5e2a20-0004-4c30-b8a1-9f5e2a200001",
                "key": "4eba5011-51b6-499f-b551-7b2e8b220b70",
                "values": [
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "centerHeading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "showTopBorder",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "b8c468d2-9932-4031-8d09-01101a5c441b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "16dfd463-547f-47ec-b01c-0a6c3a443f6f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b8c468d2-9932-4031-8d09-01101a5c441b",
                  "contentUdi": null,
                  "settingsKey": "3791c761-f33f-4721-a36e-b368df1101a4",
                  "settingsUdi": null
                },
                {
                  "contentKey": "16dfd463-547f-47ec-b01c-0a6c3a443f6f",
                  "contentUdi": null,
                  "settingsKey": "4eba5011-51b6-499f-b551-7b2e8b220b70",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "block-line--seamless"
        }
      ]
    },
    {
      "contentTypeKey": "a9d1ce00-0000-4b0e-9c22-a9d1ce000001",
      "key": "ed39efce-898e-4679-b1dc-05e5ae094ac7",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ATTENTION:"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "icon-store color-yellow"
        },
        {
          "alias": "message",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECheck out the new online store!\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "stampImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ff8078e9-f7b4-48ff-a8eb-6028e54df736",
              "mediaKey": "5c36aa18-8259-47b6-b3af-ae62777ab917",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Santiago Store",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "www.ggusd.us",
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "d6e76673-89a2-4130-aa82-4dffe1b162f6",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "118593ee-732b-4faa-954d-e84ec46e0cc1",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "f0322610-fe96-421c-9028-b10733fd9b15",
      "key": "d4aa9339-ffd8-4f4a-ac50-dcc523532333",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "enableSlideshow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "slideshowSpeed",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "d139d9bd-e440-43b1-9fa9-7d1f2ef08709",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04bef090-a899-4134-b47f-645a57acc301",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4496ba3b-0188-4e81-8f2e-f83a9842d412",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e4f1a1ec-a615-4033-9260-fb2a817298f9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ed39efce-898e-4679-b1dc-05e5ae094ac7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "04bef090-a899-4134-b47f-645a57acc301",
        "contentUdi": null,
        "settingsKey": "118593ee-732b-4faa-954d-e84ec46e0cc1",
        "settingsUdi": null
      },
      {
        "contentKey": "d139d9bd-e440-43b1-9fa9-7d1f2ef08709",
        "contentUdi": null,
        "settingsKey": "d6e76673-89a2-4130-aa82-4dffe1b162f6",
        "settingsUdi": null
      },
      {
        "contentKey": "ed39efce-898e-4679-b1dc-05e5ae094ac7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e4f1a1ec-a615-4033-9260-fb2a817298f9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4496ba3b-0188-4e81-8f2e-f83a9842d412",
        "contentUdi": null,
        "settingsKey": "d4aa9339-ffd8-4f4a-ac50-dcc523532333",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </widgets>
  </Properties>
</Content>