<?xml version="1.0" encoding="utf-8"?>
<Content Key="46639f92-bf68-413a-a89d-14c1c9d5e817" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>site</ContentType>
    <CreateDate>2025-07-31T16:54:11</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="73e47585-5082-4040-a362-0f6891f34bf8">home</Template>
  </Info>
  <Properties>
    <additionalNavBarLinks>
      <Value><![CDATA[]]></Value>
    </additionalNavBarLinks>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Santiago High School]]></Value>
    </pageTitle>
    <showTopBar>
      <Value><![CDATA[0]]></Value>
    </showTopBar>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <topBarLinks>
      <Value><![CDATA[]]></Value>
    </topBarLinks>
    <widgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "a7651540-09b1-4357-98da-4fbc2bbb6299",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "477e00d5-17af-4f8c-9ce5-90ec84b749d6",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dcb88c4b-6980-4448-8173-167fb3e0c538",
                        "mediaKey": "0d292a99-f7ec-414d-acab-af9372c0f93e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "classnames",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "343df827-b6f4-495a-9fe1-dc5fb11acd76",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "453498f3-b1aa-4072-979a-b5893fe843fa",
                        "mediaKey": "6c47e226-5e90-4c6d-a822-420651a794dd",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "dafce53e-bd61-4862-99f4-6b1f391ca3bc",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3c75adc7-a20e-4771-97eb-0a1ca02190e8",
                        "mediaKey": "d8ec79cb-727f-439d-b6c5-0f0ceb3c6cb8",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "477e00d5-17af-4f8c-9ce5-90ec84b749d6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "343df827-b6f4-495a-9fe1-dc5fb11acd76",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dafce53e-bd61-4862-99f4-6b1f391ca3bc",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "477e00d5-17af-4f8c-9ce5-90ec84b749d6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "343df827-b6f4-495a-9fe1-dc5fb11acd76",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dafce53e-bd61-4862-99f4-6b1f391ca3bc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "07c7b462-ff11-487a-904f-1237982eec66",
      "values": [
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "py-7"
          ]
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Style 2"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a7651540-09b1-4357-98da-4fbc2bbb6299",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a7651540-09b1-4357-98da-4fbc2bbb6299",
        "contentUdi": null,
        "settingsKey": "07c7b462-ff11-487a-904f-1237982eec66",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </widgets>
  </Properties>
</Content>