<?xml version="1.0" encoding="utf-8"?>
<Content Key="71a0f3a8-0b4b-4eb2-a596-451e1e894ca2" Alias="Information Technology" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Intranet</Parent>
    <Path>/Intranet/InformationTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>subsite</ContentType>
    <CreateDate>2025-08-20T09:59:18</CreateDate>
    <NodeName Default="Information Technology" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="73e47585-5082-4040-a362-0f6891f34bf8">home</Template>
  </Info>
  <Properties>
    <additionalNavBarLinks>
      <Value><![CDATA[]]></Value>
    </additionalNavBarLinks>
    <footerText>
      <Value><![CDATA[]]></Value>
    </footerText>
    <pageTitle>
      <Value><![CDATA[Information Technology]]></Value>
    </pageTitle>
    <showTopBar>
      <Value><![CDATA[0]]></Value>
    </showTopBar>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <socialLinks>
      <Value><![CDATA[]]></Value>
    </socialLinks>
    <topBarLinks>
      <Value><![CDATA[]]></Value>
    </topBarLinks>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <widgets>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "a690d0b8-080d-469a-a44a-c8ae27f7e2f8",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Welcome to the GGUSD IT Webpage"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Information Technology Department supports all district technology and services. Our department is responsible for internet connectivity, network infrastructure, wireless technology, business applications, education systems, system integration, and technical support in alignment with GGUSD Strategic Plans. Our mission is to provide our students and staff with robust technology to enrich our students learning so they can achieve life-long success.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "2fe434f2-5524-4942-9848-87194402a1e8",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Information Technology Department Services"
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "52270a27-a739-4b64-93bb-34ed6d84ce7e",
                "values": [
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGeneral inquiry purposes\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "IT Department Main Line (714-663-6591) or Ext. 77150"
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "d085eea9-1dcb-4144-9d5b-4fb4705f4a10",
                "values": [
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EHelpdesk Support\u003C/p\u003E\u003Cp\u003ESoftware Installation and Configuration\u003C/p\u003E\u003Cp\u003EMobile Device Management\u003C/p\u003E\u003Cp\u003ETraining and Education\u003C/p\u003E\u003Cp\u003EVOIP services\u003C/p\u003E\u003Cp\u003EComputer Repairs\u003C/p\u003E\u003Cp\u003EDevice Staging\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Helpdesk Client Services (714-663-6598) or Ext. 77180"
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "976b2aa4-5e2e-4715-961c-b31fb57bc663",
                "values": [
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EReports and Queries\u003C/p\u003E\u003Cp\u003EAccess Issues\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aeries SIS Support (714-663-6417) or Ext. 77160"
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "cbed1743-68e5-41da-91b3-1ec861aad991",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Point-of-Sale Support (714-663-6545) or Ext. 77165"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EP.O.S All-in-one Carts \u0026amp; Tablets\u003C/p\u003E\u003Cp\u003ETitan P.O.S Accounts\u003C/p\u003E\u003Cp\u003EPOS Hardware Repair\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "d7b539b9-8346-48ab-861b-e95cc2d805e0",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Technology Support (714-663-6224) or Ext. 77130"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EFire Suppression / Alarms\u003C/p\u003E\u003Cp\u003EIPVS\u003C/p\u003E\u003Cp\u003EMarquee\u003C/p\u003E\u003Cp\u003EManaged Print Services\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "4590aac3-ed28-4f4c-aabb-be601e97924c",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Systems and Programming (714-663-6591) or Ext. 77190"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EComputer Room Operations\u003C/p\u003E\u003Cp\u003ECALPADS Support\u003C/p\u003E\u003Cp\u003EWeb Development Support\u003C/p\u003E\u003Cp\u003EParent Square\u003C/p\u003E\u003Cp\u003EIntegration Services\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "ddef7c48-a579-43ca-b138-3ebf8f44980a",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Network Operations Center (714-663-6043) or Ext 77143"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EInfrastructure Support\u003C/p\u003E\u003Cp\u003EEmail Systems\u003C/p\u003E\u003Cp\u003EData Backup and Recovery\u003C/p\u003E\u003Cp\u003ENetworks Advisory\u0026nbsp;\u003C/p\u003E\u003Cp\u003ENetwork Administration\u003C/p\u003E\u003Cp\u003ESecurity Services\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "52270a27-a739-4b64-93bb-34ed6d84ce7e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d085eea9-1dcb-4144-9d5b-4fb4705f4a10",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "976b2aa4-5e2e-4715-961c-b31fb57bc663",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cbed1743-68e5-41da-91b3-1ec861aad991",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d7b539b9-8346-48ab-861b-e95cc2d805e0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4590aac3-ed28-4f4c-aabb-be601e97924c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ddef7c48-a579-43ca-b138-3ebf8f44980a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "52270a27-a739-4b64-93bb-34ed6d84ce7e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d085eea9-1dcb-4144-9d5b-4fb4705f4a10",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "976b2aa4-5e2e-4715-961c-b31fb57bc663",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cbed1743-68e5-41da-91b3-1ec861aad991",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d7b539b9-8346-48ab-861b-e95cc2d805e0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4590aac3-ed28-4f4c-aabb-be601e97924c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ddef7c48-a579-43ca-b138-3ebf8f44980a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "200bebb0-d175-41af-831b-bbd6f4399ce8",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "e6133f6b-66d6-469e-b902-913fcec78fbd",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "da715cc4-cb79-497a-acea-e9627a96636b",
                        "mediaKey": "4bb4b6f9-f362-454e-acc7-fcb98dcad880",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EThe Department\u0027s staff celebrating the 2026 Pre-Super Bowl Spirit Day!\u003C/p\u003E\u003Cp\u003EWith staffers wearing their favorite team jersey work and show their game day pride.\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c12953c9-80aa-48a4-815e-38a4e2b1cd1a",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "03bac857-108f-410b-90ec-c2e604a4e81f",
                        "mediaKey": "57a55199-53c5-4201-8438-cb9522873a7e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EOffice of Business Services Administrative Team 2025-2026\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e6133f6b-66d6-469e-b902-913fcec78fbd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c12953c9-80aa-48a4-815e-38a4e2b1cd1a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e6133f6b-66d6-469e-b902-913fcec78fbd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c12953c9-80aa-48a4-815e-38a4e2b1cd1a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "4aa3b1c3-c212-4afd-a1ca-07438e0df1e8",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "welcomeMessage"
        },
        {
          "alias": "alias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Welcome Message"
        }
      ]
    },
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "23f818aa-cba8-46c4-80f9-725f9190385a",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "numberAccordion"
        },
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "710eba15-cb54-48e1-8c95-c215d3f70208",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "mainSlider"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "alias",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Main Slider"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a690d0b8-080d-469a-a44a-c8ae27f7e2f8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2fe434f2-5524-4942-9848-87194402a1e8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "200bebb0-d175-41af-831b-bbd6f4399ce8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a690d0b8-080d-469a-a44a-c8ae27f7e2f8",
        "contentUdi": null,
        "settingsKey": "4aa3b1c3-c212-4afd-a1ca-07438e0df1e8",
        "settingsUdi": null
      },
      {
        "contentKey": "200bebb0-d175-41af-831b-bbd6f4399ce8",
        "contentUdi": null,
        "settingsKey": "710eba15-cb54-48e1-8c95-c215d3f70208",
        "settingsUdi": null
      },
      {
        "contentKey": "2fe434f2-5524-4942-9848-87194402a1e8",
        "contentUdi": null,
        "settingsKey": "23f818aa-cba8-46c4-80f9-725f9190385a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </widgets>
  </Properties>
</Content>