<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f5e6ab3-5171-4a3e-a783-b41a3ec0644c" Alias="Internet Use on Campus" Level="4">
  <Info>
    <Parent Key="b79a7cef-c2c2-4069-895d-0663d87f360d">Policies</Parent>
    <Path>/Home/Students/Policies/InternetUseOnCampus</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-04T13:00:00</CreateDate>
    <NodeName Default="Internet Use on Campus" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "f13bdc2c-b97a-432c-b417-ba623f23dba9",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Rules for using the internet and electronic communications on the Santiago High School campus.</p>"
          }
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "43a555bf-9b33-4a49-b81a-67c729d9504d",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Acceptable Use"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Any student who uses their Internet access privileges in an inappropriate manner (including, but not limited to, visiting inappropriate websites or sending inappropriate e-mails or instant messages) may be assigned to detention, Saturday School, or suspension. In addition, the student may have his/her Internet access privileges revoked.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "29b52292-e259-4aa9-916d-4ff60a776312",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Monitoring & Privacy"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>There is NO right to privacy while using electronic communications on campus. Internet and e-mail use is monitored and can be used against a student by school officials or the police. See the Personal Internet Sites/Blogs policy to find out what students may or may not post on the Internet.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "43a555bf-9b33-4a49-b81a-67c729d9504d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "29b52292-e259-4aa9-916d-4ff60a776312",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "43a555bf-9b33-4a49-b81a-67c729d9504d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "29b52292-e259-4aa9-916d-4ff60a776312",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "452c3985-1667-4091-a5b8-b642658aa917",
      "values": [
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "f13bdc2c-b97a-432c-b417-ba623f23dba9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f13bdc2c-b97a-432c-b417-ba623f23dba9",
        "contentUdi": null,
        "settingsKey": "452c3985-1667-4091-a5b8-b642658aa917",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Internet Use on Campus]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
