<?xml version="1.0" encoding="utf-8"?>
<Content Key="55e21616-950f-49b3-aa7f-5e088f743dfb" Alias="New Principal" Level="3">
  <Info>
    <Parent Key="373d08e0-e52a-4570-b400-41bedcea14ce">Newsroom</Parent>
    <Path>/Home/Newsroom/NewPrincipal</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-09-04T15:14:33</CreateDate>
    <NodeName Default="New Principal" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f5e2a20-0006-4c30-b8a1-9f5e2a200001">NewsArticle</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "0797fa33-b430-495f-a98b-a81612fe398c",
    "mediaKey": "7ac5e9e7-5dcf-4ac7-a419-44094d2e95dc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 16pt;\u0022\u003EPlease click \u003C/span\u003E\u003Ca data-router-slot=\u0022disabled\u0022 href=\u0022/{localLink:119cb499-0812-4644-9c58-bd5f1e4d9bcf}\u0022 title=\u0022Principal\u0027s Message\u0022 type=\u0022document\u0022\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-size: 16pt;\u0022\u003Ehere\u003C/span\u003E\u003C/strong\u003E\u003C/a\u003E\u003Cspan style=\u0022font-size: 16pt;\u0022\u003E to read Nick Clark\u0027s welcome message.\u0026nbsp;\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <introduction>
      <Value><![CDATA[Nick Clark joins Santiago HS as the new principal!]]></Value>
    </introduction>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Welcome Nick Clark!]]></Value>
    </title>
  </Properties>
</Content>