<?xml version="1.0" encoding="utf-8"?>
<Content Key="373d08e0-e52a-4570-b400-41bedcea14ce" Alias="Newsroom" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Newsroom</Path>
    <Trashed>false</Trashed>
    <ContentType>newsroom</ContentType>
    <CreateDate>2026-09-03T23:51:58</CreateDate>
    <NodeName Default="Newsroom" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f5e2a20-0005-4c30-b8a1-9f5e2a200001">Newsroom</Template>
  </Info>
  <Properties>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <pageTitle>
      <Value><![CDATA[News and Announcements]]></Value>
    </pageTitle>
  </Properties>
</Content>