<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc8ed681-a047-492b-a192-bca47079af4a" Alias="Online Voter Registration" Level="3">
  <Info>
    <Parent Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1">Students</Parent>
    <Path>/Home/Students/OnlineVoterRegistration</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-04T22:50:08</CreateDate>
    <NodeName Default="Online Voter Registration" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Online Voter Registration",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/f4f9ca20819b4a188c9065e90d873b1b",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>