<?xml version="1.0" encoding="utf-8"?>
<Content Key="e68bd0d2-87cd-4bed-b445-1f41779bb383" Alias="Parent Family Engagement Policy" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/ParentFamilyEngagementPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T13:00:00</CreateDate>
    <NodeName Default="Parent Family Engagement Policy" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "1e84200e-b388-485b-8cc3-7dfda2e3197e",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Parent and Family Engagement Policy describes how Santiago High School partners with families to support student success.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Download PDF",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": "umb://media/89c3ca53631e40eabd5e559b82445788",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "c0505c7e-882e-410b-ae61-5b86738d33b8",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1e84200e-b388-485b-8cc3-7dfda2e3197e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1e84200e-b388-485b-8cc3-7dfda2e3197e",
        "contentUdi": null,
        "settingsKey": "c0505c7e-882e-410b-ae61-5b86738d33b8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Parent Family Engagement Policy]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>