<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1f36384-4a70-4649-988c-98941a321942" Alias="PDA's - Public Displays of Affection" Level="4">
  <Info>
    <Parent Key="b79a7cef-c2c2-4069-895d-0663d87f360d">Policies</Parent>
    <Path>/Home/Students/Policies/PDAsPublicDisplaysOfAffection</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-04T13:00:00</CreateDate>
    <NodeName Default="PDA's - Public Displays of Affection" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "55653282-0c23-4953-ac6b-43dc9ef6acd3",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Students are expected to avoid public displays of affection that are inappropriate for a school campus.</p>"
          }
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "7a077822-eaac-4539-a963-337a44259e78",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Policy Statement"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Students are expected to avoid public displays of affection that are inappropriate for a school campus.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "4ecd748d-dae9-42d8-9705-f1e7e4001504",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Consequences"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Students who violate this policy face progressive discipline. They will initially be asked to stop their behavior and may subsequently receive detention, Saturday School assignment, or school suspension.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7a077822-eaac-4539-a963-337a44259e78",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4ecd748d-dae9-42d8-9705-f1e7e4001504",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7a077822-eaac-4539-a963-337a44259e78",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4ecd748d-dae9-42d8-9705-f1e7e4001504",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "c78c945b-bfb6-44db-a23d-9c561df36856",
      "values": [
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "55653282-0c23-4953-ac6b-43dc9ef6acd3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "55653282-0c23-4953-ac6b-43dc9ef6acd3",
        "contentUdi": null,
        "settingsKey": "c78c945b-bfb6-44db-a23d-9c561df36856",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[PDA's - Public Displays of Affection]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
