<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d9f87a9-0f77-40ba-9199-c00413377e16" Alias="PeachJar" Level="3">
  <Info>
    <Parent Key="24ab1d45-0563-49e7-b5ad-55cd648be7f1">Academics</Parent>
    <Path>/Home/Academics/PeachJar</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-28T09:00:00</CreateDate>
    <NodeName Default="PeachJar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "PeachJar",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.peachjar.com/index.php?region=55054\u0026a=28\u0026b=138",
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>