<?xml version="1.0" encoding="utf-8"?>
<Content Key="58abcfe0-35c7-46a4-a1d3-96c797dd1fd0" Alias="Personal Internet Sites/Blogs" Level="4">
  <Info>
    <Parent Key="b79a7cef-c2c2-4069-895d-0663d87f360d">Policies</Parent>
    <Path>/Home/Students/Policies/PersonalInternetSitesBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-04T13:00:00</CreateDate>
    <NodeName Default="Personal Internet Sites/Blogs" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "efc614c3-34dd-4262-b6f2-3514575b3ac6",
      "key": "c8e5f51c-d255-4b4f-bd31-173d51d8c9a3",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Blogs, internet postings/social media, or students' personal web sites or accounts must be appropriate if they are in any way connected to Santiago High School, or mention Santiago High School or any Santiago students or staff members.</p>"
          }
        },
        {
          "alias": "accordionList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "8aeda01f-6ac7-406e-8e35-e3c9c1704241",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Policy"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>All discipline and dress code rules apply to web sites/social media postings that are associated with Santiago High School. All language must be appropriate, and absolutely no threats or negative comments about other students or staff members are allowed.</p>"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "ef33a691-ec90-4004-8937-73a37ac2a60c",
                "key": "67d46988-d1ff-4bd8-a238-49ef2fa9cd62",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Consequences"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Students who violate this policy may be suspended, referred to the District Discipline Committee, or expelled from school.</p>"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8aeda01f-6ac7-406e-8e35-e3c9c1704241",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "67d46988-d1ff-4bd8-a238-49ef2fa9cd62",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8aeda01f-6ac7-406e-8e35-e3c9c1704241",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "67d46988-d1ff-4bd8-a238-49ef2fa9cd62",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d681d8f7-2567-493c-b16d-684842ebb6dd",
      "key": "d9f94b34-7be6-4648-a0c0-6faf3accbee7",
      "values": [
        {
          "alias": "itemPrefix",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showFirstItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "standard"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "c8e5f51c-d255-4b4f-bd31-173d51d8c9a3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c8e5f51c-d255-4b4f-bd31-173d51d8c9a3",
        "contentUdi": null,
        "settingsKey": "d9f94b34-7be6-4648-a0c0-6faf3accbee7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Personal Internet Sites/Blogs]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>
