<?xml version="1.0" encoding="utf-8"?>
<Content Key="5661aa6e-b7df-48dd-b4dc-9cddc2677c72" Alias="Post a Memoir" Level="4">
  <Info>
    <Parent Key="8022c1fa-bc27-4a51-8b2a-fd2c437d68ac">Alumni Directory</Parent>
    <Path>/Home/Contact/AlumniDirectory/PostAMemoir</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-19T00:00:00</CreateDate>
    <NodeName Default="Post a Memoir" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "054d3461-0c35-428b-9634-b6e2fc755d24",
      "key": "acd7d90a-4c30-46b7-ba7f-5b59d601152c",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Post a Memoir"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Share a memory from your time at Santiago. Your email stays private - only your name, grad year and memoir are ever shown publicly, once approved by staff."
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "5c1aed90-161a-4ec3-b190-bc55f586f356",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "acd7d90a-4c30-46b7-ba7f-5b59d601152c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "acd7d90a-4c30-46b7-ba7f-5b59d601152c",
        "contentUdi": null,
        "settingsKey": "5c1aed90-161a-4ec3-b190-bc55f586f356",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Post a Memoir]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>