<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b6b8e91-1fdc-4b96-aa9b-0163ed9b7e60" Alias="Raiders challenge Information" Level="4">
  <Info>
    <Parent Key="572e6da8-6c40-41df-b50c-df743599427b">JROTC</Parent>
    <Path>/Home/Academics/JROTC/RaidersChallengeInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-29T04:57:05</CreateDate>
    <NodeName Default="Raiders challenge Information" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "384b309b-be1b-4b1e-bdf9-7e13f02f8afb",
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Raiders Folder",
              "target": null,
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://drive.google.com/drive/folders/1tU_47NNWQ-muO2O7iE57aUlwUiattPQd",
              "queryString": null,
              "culture": null
            }
          ]
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cstrong\u003E\u003Cspan style=\u0022font-size: 16pt; color: rgb(255, 255, 255);\u0022\u003ELink for Raiders Folder:\u003C/span\u003E\u003C/strong\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022font-size: 16pt; color: rgb(255, 255, 255);\u0022\u003EThis folder contains information/MOI for current and future Raiders competitions.\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "433229a0-bd8b-4dc8-825c-5037a05ea169",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "1ca56647-d234-4684-81ce-96a32ed6e788",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6aee13f6-2662-4cfc-aa8b-12ac27205f19",
                        "mediaKey": "98f6c82b-97aa-446c-b9d8-672288d8209e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c5bd0ea1-8123-47f1-b255-c9db4bb78e75",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "092a7822-73a5-4ffa-8aac-daac4578e284",
                        "mediaKey": "2aebdf48-fb3b-41a7-a4ae-de69b7a08b14",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "85ccd99f-689d-4ddb-acd1-4d893248ffa2",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1969ae00-ffec-4670-ac14-7b610ebcd124",
                        "mediaKey": "cbb36791-97ac-472d-b4cd-a0bb86f7fffb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "5057f4e8-c6f6-493a-b28d-7fc1bac8144b",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e7c96999-a48b-4149-9fe7-51fa329f3f42",
                        "mediaKey": "ea4c2bbb-a994-42ed-b0b8-7aa5ad322d37",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "d7c3c935-5d4d-471a-b305-4cb24b76fe42",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "299480d6-55fe-4f53-a4e3-59379206f571",
                        "mediaKey": "7bfaec58-71f7-4689-8a91-98c5ea3dd014",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1ca56647-d234-4684-81ce-96a32ed6e788",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c5bd0ea1-8123-47f1-b255-c9db4bb78e75",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "85ccd99f-689d-4ddb-acd1-4d893248ffa2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5057f4e8-c6f6-493a-b28d-7fc1bac8144b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d7c3c935-5d4d-471a-b305-4cb24b76fe42",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1ca56647-d234-4684-81ce-96a32ed6e788",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c5bd0ea1-8123-47f1-b255-c9db4bb78e75",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "85ccd99f-689d-4ddb-acd1-4d893248ffa2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5057f4e8-c6f6-493a-b28d-7fc1bac8144b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d7c3c935-5d4d-471a-b305-4cb24b76fe42",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "0fec3079-5cb9-47b7-8916-82b1eecb5905",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "bd07f04d-4426-4774-b8ed-436e8f14d78e",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "small"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "384b309b-be1b-4b1e-bdf9-7e13f02f8afb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "433229a0-bd8b-4dc8-825c-5037a05ea169",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "384b309b-be1b-4b1e-bdf9-7e13f02f8afb",
        "contentUdi": null,
        "settingsKey": "0fec3079-5cb9-47b7-8916-82b1eecb5905",
        "settingsUdi": null
      },
      {
        "contentKey": "433229a0-bd8b-4dc8-825c-5037a05ea169",
        "contentUdi": null,
        "settingsKey": "bd07f04d-4426-4774-b8ed-436e8f14d78e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Raiders challenge Information]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>