<?xml version="1.0" encoding="utf-8"?>
<Content Key="8eecb2b2-d790-45e9-9a9f-772834104ded" Alias="Read Memoirs" Level="4">
  <Info>
    <Parent Key="8022c1fa-bc27-4a51-8b2a-fd2c437d68ac">Alumni Directory</Parent>
    <Path>/Home/Contact/AlumniDirectory/ReadMemoirs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-19T00:00:00</CreateDate>
    <NodeName Default="Read Memoirs" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0dc71cb4-31f5-4c6c-82a0-dab5f822d9e9",
      "key": "3c61c1d6-0508-4c89-a923-e7437e05185a",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read Memoirs"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "Memories shared by fellow alumni."
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "ec722741-ff91-489c-975f-9d92a34c72eb",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "3c61c1d6-0508-4c89-a923-e7437e05185a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3c61c1d6-0508-4c89-a923-e7437e05185a",
        "contentUdi": null,
        "settingsKey": "ec722741-ff91-489c-975f-9d92a34c72eb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Read Memoirs]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>