<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4f9ca20-819b-4a18-8c90-65e90d873b1b" Alias="Register to Vote" Level="3">
  <Info>
    <Parent Key="373d08e0-e52a-4570-b400-41bedcea14ce">Newsroom</Parent>
    <Path>/Home/Newsroom/RegisterToVote</Path>
    <Trashed>false</Trashed>
    <ContentType>newsArticle</ContentType>
    <CreateDate>2026-09-04T01:43:08</CreateDate>
    <NodeName Default="Register to Vote" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f5e2a20-0006-4c30-b8a1-9f5e2a200001">NewsArticle</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "e38dc7fb-94ed-40ba-bca3-9a1480cff735",
    "mediaKey": "8ac147d0-96fa-4b9b-a84e-87123ac44af2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EEligible 16 and 17-year-olds in California can pre-register now. Your registration becomes active on your 18th birthday.\u003C/p\u003E\u003Cp\u003E\u003Ca class=\u0022news-article__cta\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://registertovote.ca.gov/\u0022 title=\u0022Register to Vote\u0022 type=\u0022external\u0022\u003ERegister to Vote\u003C/a\u003E\u003C/p\u003E"
}]]></Value>
    </bodyText>
    <introduction>
      <Value><![CDATA[Online pre-registration is now available for eligible 16 and 17-year-olds at RegisterToVote.ca.gov .* CA youth who pre-register to vote will have their registration become active once they turn 18 years old. Click on any of the links below to complete the process!]]></Value>
    </introduction>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Register to Vote]]></Value>
    </title>
  </Properties>
</Content>