<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a353e1e-d2dd-44bc-9b17-d8d4e8f5f16c" Alias="School Compact" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/SchoolCompact</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T13:00:00</CreateDate>
    <NodeName Default="School Compact" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "930ed191-b2d4-487b-8f1c-dc3f744dd30d",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>The School Compact outlines the shared commitment between Santiago High School, families, and students to support learning and student achievement.</p>"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Download PDF",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": "umb://media/d1fcee823d0243fd8e2542fbcb79f89c",
              "url": null,
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "6113ab64-3564-4e65-a485-6f5c6679f8fd",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "930ed191-b2d4-487b-8f1c-dc3f744dd30d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "930ed191-b2d4-487b-8f1c-dc3f744dd30d",
        "contentUdi": null,
        "settingsKey": "6113ab64-3564-4e65-a485-6f5c6679f8fd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[School Compact]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>