<?xml version="1.0" encoding="utf-8"?>
<Content Key="4563afde-cf82-46d5-ab09-0ec62e0f8f5e" Alias="School Events" Level="3">
  <Info>
    <Parent Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1">Students</Parent>
    <Path>/Home/Students/SchoolEvents</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T12:00:00</CreateDate>
    <NodeName Default="School Events" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "aee97b52-040c-4c16-9333-ffe1cbfadec7",
      "key": "fc83f146-aecd-4d00-b25c-8c9087b02430",
      "values": [
        {
          "alias": "googleCalendarId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "7m38cg53a3fl1gh79dc69ihn9og1uh1d@import.calendar.google.com"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "99699fcb-87b4-4331-9017-ac3394ed7caa",
      "key": "3c9ead7d-6a34-477d-8202-e2cf56bfb4b7",
      "values": [
        {
          "alias": "numberOfEvents",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showDayOfTheWeek",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showMonth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showEventLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showEventDuration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showEventDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#6b40a04d"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "fc83f146-aecd-4d00-b25c-8c9087b02430",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fc83f146-aecd-4d00-b25c-8c9087b02430",
        "contentUdi": null,
        "settingsKey": "3c9ead7d-6a34-477d-8202-e2cf56bfb4b7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[School Events]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>