<?xml version="1.0" encoding="utf-8"?>
<Content Key="31667db5-0769-451d-aaee-9d85e1c914f1" Alias="School Map" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/SchoolMap</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-24T19:16:54</CreateDate>
    <NodeName Default="School Map" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "SchoolMap25-26.pdf",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://media/772384b1ad7e41cd8403f6390edcd5ba",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>