<?xml version="1.0" encoding="utf-8"?>
<Content Key="52d2310f-59fa-4ae2-93fd-76ddc192cdc4" Alias="Scholarships" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/Scholarships</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T10:00:00</CreateDate>
    <NodeName Default="Scholarships" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "bef7ba35-2b88-5970-a4fd-3b20f44a1dda",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESelect a scholarship to open its flyer with the full eligibility rules and how to apply. The date shown is the application deadline. Confirm the exact year on each flyer.\u003C/p\u003E"
          }
        },
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "2b0d58c1-849c-516c-9507-5147a8549288",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Oct 2 \u2013 Coca-Cola Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Oct 2 \u2013 Coca-Cola Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/435cc6783f235c899e82a76321e7cac9",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "269b3e8e-74b5-50f4-9c99-386e66df7463",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Oct 17 \u2013 Wendy\u2019s Heisman Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Oct 17 \u2013 Wendy\u2019s Heisman Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/49f03363b9655c5091bd0bab5da7a566",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "ea540efb-7e59-5483-a356-75f349be35ad",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nov 6 \u2013 Jack Kent Cooke Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Nov 6 \u2013 Jack Kent Cooke Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/a4b3b71d236759b3911aaf93ea737560",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "9dbbd95e-af2f-559f-b9c3-beb2faad91c7",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nov 13 \u2013 Hispanic Heritage Youth Award"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Nov 13 \u2013 Hispanic Heritage Youth Award",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/46eec1f1727758b5b5615a200f869bfd",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "45bc22fc-8e00-5d7a-b257-73e4acdc346d",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nov 13 \u2013 Elks MYP Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Nov 13 \u2013 Elks MYP Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/ebaf2b17ed6a52e7bbdb762ad3812966",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "f64cd26e-ecf6-5b22-912c-21c353b49a6e",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Nov 30 \u2013 Education Matters Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Nov 30 \u2013 Education Matters Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/595cd3ec80ca59558dea8df19570e1a3",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "f5d30109-54d3-5893-8584-fe565e661224",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dec 1 \u2013 Dell Scholars Program"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Dec 1 \u2013 Dell Scholars Program",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/896ab112dd2459a898ec5b2a805661c2",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "d02285b6-3c46-53c6-bbeb-5e0b217fed65",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dec 15 \u2013 Burger King Scholars"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Dec 15 \u2013 Burger King Scholars",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/a778089b55e55a0780382c7257eeb4bc",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "7a30ec51-3613-5dfe-9acb-f381f9714c9e",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Jan 9 \u2013 APIA Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Jan 9 \u2013 APIA Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/e23b1498d9f753c0b19ab5f99882fef2",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "80805683-78eb-559e-b4a7-40f2fbfa6587",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Jan 10 \u2013 Jackie Robinson Foundation"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Jan 10 \u2013 Jackie Robinson Foundation",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/e4e57b6b7fe05144aab6ab2342b45bb7",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "746e7125-84b6-575b-9a9a-7e8d7b77dc81",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Jan 23 \u2013 Edison Scholars Program"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Jan 23 \u2013 Edison Scholars Program",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/b93e28617b0d57e695370a2a2cefac4b",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "ed20b5ab-4463-54a3-9880-831f28dc7a4b",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Feb 13 \u2013 McDonald\u2019s HACER National Scholarship"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Feb 13 \u2013 McDonald\u2019s HACER National Scholarship",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/143d47ba05645394a53f3e43975a4dd8",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2b0d58c1-849c-516c-9507-5147a8549288",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "269b3e8e-74b5-50f4-9c99-386e66df7463",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ea540efb-7e59-5483-a356-75f349be35ad",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9dbbd95e-af2f-559f-b9c3-beb2faad91c7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "45bc22fc-8e00-5d7a-b257-73e4acdc346d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f64cd26e-ecf6-5b22-912c-21c353b49a6e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f5d30109-54d3-5893-8584-fe565e661224",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d02285b6-3c46-53c6-bbeb-5e0b217fed65",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7a30ec51-3613-5dfe-9acb-f381f9714c9e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "80805683-78eb-559e-b4a7-40f2fbfa6587",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "746e7125-84b6-575b-9a9a-7e8d7b77dc81",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ed20b5ab-4463-54a3-9880-831f28dc7a4b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2b0d58c1-849c-516c-9507-5147a8549288",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "269b3e8e-74b5-50f4-9c99-386e66df7463",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ea540efb-7e59-5483-a356-75f349be35ad",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9dbbd95e-af2f-559f-b9c3-beb2faad91c7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "45bc22fc-8e00-5d7a-b257-73e4acdc346d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f64cd26e-ecf6-5b22-912c-21c353b49a6e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f5d30109-54d3-5893-8584-fe565e661224",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d02285b6-3c46-53c6-bbeb-5e0b217fed65",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7a30ec51-3613-5dfe-9acb-f381f9714c9e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "80805683-78eb-559e-b4a7-40f2fbfa6587",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "746e7125-84b6-575b-9a9a-7e8d7b77dc81",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ed20b5ab-4463-54a3-9880-831f28dc7a4b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "da72be26-9b4a-51ef-a1ab-65967fe6f1a6",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-4"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bef7ba35-2b88-5970-a4fd-3b20f44a1dda",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bef7ba35-2b88-5970-a4fd-3b20f44a1dda",
        "contentUdi": null,
        "settingsKey": "da72be26-9b4a-51ef-a1ab-65967fe6f1a6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Scholarships]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>