<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f75652d-d52a-4016-b82e-9496df49a9b0" Alias="SEL Opportunities" Level="4">
  <Info>
    <Parent Key="dfa5e0e7-f470-4796-a2c5-8be4b4b25c92">ELOs</Parent>
    <Path>/Home/Students/ELOs/SELOpportunities</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-11T12:00:00</CreateDate>
    <NodeName Default="SEL Opportunities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "add33140-1404-4cf7-b5ea-707adcc8bbfe",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EPhotos from Santiago\u0027s Social-Emotional Learning (SEL) clubs and activities. Check back for the latest photos.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "157511fd-3037-4599-84ae-1842170b39f5",
      "key": "b778ae02-1cfa-478e-a6b8-e1ee48638e7a",
      "values": [
        {
          "alias": "sliderItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "207a9a95-7f63-482b-a16b-379b509f91b3",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7b149d3b-0317-44c1-bb9a-1d0929bc21f6",
                        "mediaKey": "4beb9361-a91c-43bc-aff4-3722de9fde1d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "b3bf9e5d-9ae0-45fa-a55d-79436df4d462",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b5916c4c-0fe4-47fe-89b9-eac25466dd98",
                        "mediaKey": "196ffad8-bef5-4738-8779-9bab61e4a488",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "c61d716a-bf48-4a35-92b1-c33bb6e505e2",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c931c8b-eaa1-43d7-b38c-5702a0802f31",
                        "mediaKey": "f3712488-dd1b-4174-84b2-4b71ac7f4dbf",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "3e7a2e6d-cfae-451e-a9c9-bc3bcdfb6a2d",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6796c0f4-367c-463b-b1e4-b26041ba3ac6",
                        "mediaKey": "94ec3439-adfa-490d-b979-ae7a5a5af2a1",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "e5002fa4-8d5f-439f-ba04-69525020187b",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "02dc3aca-057c-46ae-bb85-3cbbf3829b92",
                        "mediaKey": "b746c65d-5cad-4473-a50f-cbb69cd97449",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "029da0e2-4b5b-4b20-937b-07c3d6583797",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "df180a47-9ec3-41b4-89e3-333a4ae0f766",
                        "mediaKey": "57bfa66a-1d43-4afe-89eb-b21a288e8483",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "09a6c42c-cfd8-4383-8436-6bddec57add4",
                "key": "58c2e4da-5966-425d-b72e-b3dfefbc64a1",
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "98751698-dcd4-458f-b415-5a88045d4a66",
                        "mediaKey": "68ead105-5c62-45b9-bfe9-11ab3703fc66",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "preheading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderLinksButtons",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "sliderText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "207a9a95-7f63-482b-a16b-379b509f91b3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b3bf9e5d-9ae0-45fa-a55d-79436df4d462",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c61d716a-bf48-4a35-92b1-c33bb6e505e2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3e7a2e6d-cfae-451e-a9c9-bc3bcdfb6a2d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e5002fa4-8d5f-439f-ba04-69525020187b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "029da0e2-4b5b-4b20-937b-07c3d6583797",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "58c2e4da-5966-425d-b72e-b3dfefbc64a1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "207a9a95-7f63-482b-a16b-379b509f91b3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b3bf9e5d-9ae0-45fa-a55d-79436df4d462",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c61d716a-bf48-4a35-92b1-c33bb6e505e2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3e7a2e6d-cfae-451e-a9c9-bc3bcdfb6a2d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e5002fa4-8d5f-439f-ba04-69525020187b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "029da0e2-4b5b-4b20-937b-07c3d6583797",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "58c2e4da-5966-425d-b72e-b3dfefbc64a1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "ee13ce17-be0a-42a3-81c2-52f6e45cd4dc",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "88ee1ef5-3f8b-47f9-98cb-df4649e1da63",
      "key": "5f113cc4-661f-45c5-bef5-fc81e994216d",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "small"
          ]
        },
        {
          "alias": "fullWidthBanner",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "sliderTiming",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "disableAutoplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "elo-photo-slider"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "add33140-1404-4cf7-b5ea-707adcc8bbfe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b778ae02-1cfa-478e-a6b8-e1ee48638e7a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "add33140-1404-4cf7-b5ea-707adcc8bbfe",
        "contentUdi": null,
        "settingsKey": "ee13ce17-be0a-42a3-81c2-52f6e45cd4dc",
        "settingsUdi": null
      },
      {
        "contentKey": "b778ae02-1cfa-478e-a6b8-e1ee48638e7a",
        "contentUdi": null,
        "settingsKey": "5f113cc4-661f-45c5-bef5-fc81e994216d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[SEL Opportunities]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>