<?xml version="1.0" encoding="utf-8"?>
<Content Key="215dcad4-0d98-4ec7-8ba3-e6f78cdf4889" Alias="Senior Newsletter" Level="3">
  <Info>
    <Parent Key="b1d1a7a3-a801-46c8-bd95-fd2874934f1e">Guidance</Parent>
    <Path>/Home/Guidance/SeniorNewsletter</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-03T15:30:36</CreateDate>
    <NodeName Default="Senior Newsletter" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Senior Newsletter",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/8923d90ab05c43c7bc88997f4b1442c3",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>