<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0f6b460-e0d3-40a1-a595-7ed07434a4b6" Alias="Single School Plan" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/SingleSchoolPlan</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-24T21:30:10</CreateDate>
    <NodeName Default="Single School Plan" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "SingleSchoolPlan.pdf",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://media/972d99bc409d4974b40ecaa6923f73c3",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>