<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b8c7483-382c-4f4b-916b-a3b88ab5b144" Alias="Staff Directory" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/StaffDirectory</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-09-14T03:08:30</CreateDate>
    <NodeName Default="Staff Directory" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "Staff Directory",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/f51f012e688d4521b82e1e775ec9498a",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <sideBarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sideBarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>