<?xml version="1.0" encoding="utf-8"?>
<Content Key="f51f012e-688d-4521-b82e-1e775ec9498a" Alias="Staff Directory" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/StaffDirectory</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-24T12:00:00</CreateDate>
    <NodeName Default="Staff Directory" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68f78de6-a460-4088-94b3-2d056229f3ef">StaffDirectory</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "b6ede36c-8028-446b-9bf5-ec6f37521e70",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "37255fed-fe82-496a-9307-14fb47211474",
              "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "dbd11e55-c5fe-488a-b1df-c6ba998b77cf",
      "values": [
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "fa3a2ab4-cdbb-44c0-8dcd-f66419aa10fa",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Test1"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Teacher"
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ckobayashi2@ggusd.us"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EBio goes here\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fa3a2ab4-cdbb-44c0-8dcd-f66419aa10fa",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fa3a2ab4-cdbb-44c0-8dcd-f66419aa10fa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "eaf34510-945a-431f-91db-e4ca1530cab7",
      "values": [
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-center"
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "551ffc3d-2d17-4834-b1a9-c3a13827a046",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "b6ede36c-8028-446b-9bf5-ec6f37521e70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dbd11e55-c5fe-488a-b1df-c6ba998b77cf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b6ede36c-8028-446b-9bf5-ec6f37521e70",
        "contentUdi": null,
        "settingsKey": "eaf34510-945a-431f-91db-e4ca1530cab7",
        "settingsUdi": null
      },
      {
        "contentKey": "dbd11e55-c5fe-488a-b1df-c6ba998b77cf",
        "contentUdi": null,
        "settingsKey": "551ffc3d-2d17-4834-b1a9-c3a13827a046",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Staff Directory]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>