<?xml version="1.0" encoding="utf-8"?>
<Content Key="263bac31-bfa6-426e-a2f9-2aaa8d8a52ba" Alias="Staff" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/Staff</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T11:00:00</CreateDate>
    <NodeName Default="Staff" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "50a1fd12-2b22-4c0e-9d33-57a1fd12e001",
      "key": "8fb95937-9e30-4c41-b0da-800e02225ca4",
      "values": [
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "22404dc6-bf8a-4393-97ee-00209a030ad9",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Anthony Adams"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Adams"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Softball"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "7eb1209a-1710-454f-a601-25d9bc3ffb92",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Melissa Adams"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Adams"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Softball"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "8a1460bb-8500-49fd-a3df-01a7c6d3d0c5",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Ariene Borutzki"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Borutzki"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Drill"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "2c756e15-85aa-41c7-b921-44f35af87874",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Monica Claxton"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Claxton"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cheer"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "b87ee4c7-58fb-4d94-98c9-f1d356fe194d",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Croft"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Croft"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Track and Field"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EWelcome to Room 505! My name is Mr. Croft and this is my fourth year teaching at Santiago High School and my fourteenth year in the district. I love teaching Santiago\u0027s Seniors in ERWC/English4P. I received my Bachelor\u0027s Degree in English Literature from the University of Redlands in Redlands, California. I also completed my Master\u0027s Degree in Cross-Cultural Teaching. When I am not in the classroom I truly enjoy spending my time as the head coach of the Santiago High School Football Team. My wife and I have been blessed with two wonderful children, our daughter Mika(4) and our son Gunner (1) and we are all excited to be part of the Cavalier Family.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "1736eff2-20ab-40f5-abf8-f09005f44f41",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Susana Diaz"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Diaz"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cross Country, Track and Field"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "fa2f9429-6502-412d-b711-55279c983aa1",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Michelle Dimeo"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dimeo"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Swim"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "27610271-39dc-4b3b-9554-e8e2d28f6072",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Luis Garcia"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Garcia"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Swim"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "50038a55-77c5-488e-94aa-a843d98d2d3e",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Victoria Juarez"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Juarez"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cross Country, Track and Field"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "171bbe76-0dee-46fc-803d-2f7fdc358797",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Laura Lara"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Lara"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "(714) 633-6215"
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Athletic Secretary"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "f655d1ab-4834-46be-8521-1b81d9aac8b3",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Shannon MacRill"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "MacRill"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Volleyball"
                  },
                  {
                    "alias": "bio",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EI coach Freshman/Sophomore Volleyball during 6th period and after school. Volleyball tryouts start every spring and all through summer. Summer league is for the month of July and tryouts for incoming freshmen start the last 3 weeks of August. (usually around the 13th). I am one of the Girls League (service club) advisers, and the club meets every Tues. at lunch.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "685ff0a8-981c-43d3-8bd0-5c907cfffb1f",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Evan McGee"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "McGee"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Soccer"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "d8b95aa9-3f37-4cb1-92f9-34d7cb19446a",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Trevor Newberry"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Newberry"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Trainer"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "a897901c-3660-4c34-a2b5-b7dd4148c690",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Doug Ozsvath"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Ozsvath"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Football"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "7ba048af-7140-4160-aa2f-ead55e70aa09",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Benjamin Tran"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tran"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Director"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "deb5d39c-3175-46e6-b2bb-6448b6976fe8",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Jamie Valladares"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Valladares"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Director"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "ef4e36c4-eab4-4d17-a2c0-88eedd96206c",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Michael Deck"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Deck"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Football"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "3a07908b-de1a-4c36-8c30-36c2c3c83620",
                "values": [
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cheer"
                  },
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Stephanie Christensen"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "22404dc6-bf8a-4393-97ee-00209a030ad9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7eb1209a-1710-454f-a601-25d9bc3ffb92",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8a1460bb-8500-49fd-a3df-01a7c6d3d0c5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2c756e15-85aa-41c7-b921-44f35af87874",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b87ee4c7-58fb-4d94-98c9-f1d356fe194d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1736eff2-20ab-40f5-abf8-f09005f44f41",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "fa2f9429-6502-412d-b711-55279c983aa1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "27610271-39dc-4b3b-9554-e8e2d28f6072",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "50038a55-77c5-488e-94aa-a843d98d2d3e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "171bbe76-0dee-46fc-803d-2f7fdc358797",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f655d1ab-4834-46be-8521-1b81d9aac8b3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "685ff0a8-981c-43d3-8bd0-5c907cfffb1f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d8b95aa9-3f37-4cb1-92f9-34d7cb19446a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a897901c-3660-4c34-a2b5-b7dd4148c690",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7ba048af-7140-4160-aa2f-ead55e70aa09",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "deb5d39c-3175-46e6-b2bb-6448b6976fe8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ef4e36c4-eab4-4d17-a2c0-88eedd96206c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3a07908b-de1a-4c36-8c30-36c2c3c83620",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "22404dc6-bf8a-4393-97ee-00209a030ad9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7eb1209a-1710-454f-a601-25d9bc3ffb92",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8a1460bb-8500-49fd-a3df-01a7c6d3d0c5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2c756e15-85aa-41c7-b921-44f35af87874",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b87ee4c7-58fb-4d94-98c9-f1d356fe194d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ef4e36c4-eab4-4d17-a2c0-88eedd96206c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1736eff2-20ab-40f5-abf8-f09005f44f41",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "fa2f9429-6502-412d-b711-55279c983aa1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "27610271-39dc-4b3b-9554-e8e2d28f6072",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "50038a55-77c5-488e-94aa-a843d98d2d3e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "171bbe76-0dee-46fc-803d-2f7fdc358797",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f655d1ab-4834-46be-8521-1b81d9aac8b3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "685ff0a8-981c-43d3-8bd0-5c907cfffb1f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d8b95aa9-3f37-4cb1-92f9-34d7cb19446a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a897901c-3660-4c34-a2b5-b7dd4148c690",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7ba048af-7140-4160-aa2f-ead55e70aa09",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "deb5d39c-3175-46e6-b2bb-6448b6976fe8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3a07908b-de1a-4c36-8c30-36c2c3c83620",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "showSearch",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "251a7bc9-19aa-401b-99cb-e5a29d998e43",
      "values": [
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#6b40a04d"
        },
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8fb95937-9e30-4c41-b0da-800e02225ca4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8fb95937-9e30-4c41-b0da-800e02225ca4",
        "contentUdi": null,
        "settingsKey": "251a7bc9-19aa-401b-99cb-e5a29d998e43",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Athletic Staff]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>