<?xml version="1.0" encoding="utf-8"?>
<Content Key="8353330d-72a4-4a86-a38c-2c994a078fca" Alias="Student Links" Level="3">
  <Info>
    <Parent Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1">Students</Parent>
    <Path>/Home/Students/StudentLinks</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T12:00:00</CreateDate>
    <NodeName Default="Student Links" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "51ca1170-0001-4a01-9c01-000000000001",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFast access to the outside systems Cavaliers use most: attendance and grades, family communication, and student media.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "51ca1170-0002-4a02-9c02-000000000002",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "District and Family Systems"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000001",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GGUSD"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-graduate color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "GGUSD",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://www.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000002",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "GGUSD Webmail"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-operator color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "GGUSD Webmail",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://webmail.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000003",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aeries.net"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-operator color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Aeries.net",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://sis.ggusd.us/aeries.net",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000004",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aeries Parent Portal"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-badge color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Aeries Parent Portal",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://mykids.ggusd.us/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000005",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Illuminate"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-operator color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Illuminate",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://gardengrove.illuminateed.com/dna/?prev_page=DashboardPage\u0026page=SisLogin",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000006",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ParentSquare"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-speaker color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "ParentSquare",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.parentsquare.com/signin",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-1001-4b01-9d01-000000000007",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Work Permit Application"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-edit color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Work Permit Application",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://www.dir.ca.gov/dlse/dlseformb1-1.pdf",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000004",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000005",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000006",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-1001-4b01-9d01-000000000007",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000005",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000006",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-1001-4b01-9d01-000000000007",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "51ca1170-0003-4a03-9c03-000000000003",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Student Life and Media"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-2001-4b02-9d02-000000000001",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Library Media Center"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-search color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Library Media Center",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/e89b4129cdb44b85831e3945babd5bb4",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-2001-4b02-9d02-000000000002",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "The New Cavalier"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-bell color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "The New Cavalier",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://thenewcavalier.com/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "51ca1170-2001-4b02-9d02-000000000003",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cavalier Art"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-award color-text"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Cavalier Art",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.flickr.com/photos/163746195@N03/albums",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "51ca1170-2001-4b02-9d02-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-2001-4b02-9d02-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "51ca1170-2001-4b02-9d02-000000000003",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "51ca1170-2001-4b02-9d02-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-2001-4b02-9d02-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "51ca1170-2001-4b02-9d02-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "51ca1170-0001-4f01-8c01-000000000001",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "51ca1170-0002-4f02-8c02-000000000002",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "51ca1170-0003-4f03-8c03-000000000003",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "51ca1170-0001-4a01-9c01-000000000001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51ca1170-0002-4a02-9c02-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51ca1170-0003-4a03-9c03-000000000003",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "51ca1170-0001-4a01-9c01-000000000001",
        "contentUdi": null,
        "settingsKey": "51ca1170-0001-4f01-8c01-000000000001",
        "settingsUdi": null
      },
      {
        "contentKey": "51ca1170-0002-4a02-9c02-000000000002",
        "contentUdi": null,
        "settingsKey": "51ca1170-0002-4f02-8c02-000000000002",
        "settingsUdi": null
      },
      {
        "contentKey": "51ca1170-0003-4a03-9c03-000000000003",
        "contentUdi": null,
        "settingsKey": "51ca1170-0003-4f03-8c03-000000000003",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Student Links]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>