<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1" Alias="Students" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Students</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T20:58:10</CreateDate>
    <NodeName Default="Students" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e64a8d73-6f8e-44de-a3c5-912fc2ed5378">Students</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "52700c66-f5f1-4afb-b952-72761b6023e8",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a89917dd-443c-4e5a-9dee-8909b0b1ca5f",
              "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "ddae7e70-f7ef-4a85-82dc-cca98592b11e",
      "values": [
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-center"
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52700c66-f5f1-4afb-b952-72761b6023e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52700c66-f5f1-4afb-b952-72761b6023e8",
        "contentUdi": null,
        "settingsKey": "ddae7e70-f7ef-4a85-82dc-cca98592b11e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Students]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>