<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1" Alias="Students" Level="2">
  <Info>
    <Parent Key="46639f92-bf68-413a-a89d-14c1c9d5e817">Home</Parent>
    <Path>/Home/Students</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-07-28T20:58:10</CreateDate>
    <NodeName Default="Students" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e64a8d73-6f8e-44de-a3c5-912fc2ed5378">Students</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "9567b44b-7968-42c7-b20b-d48496d45b95",
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "3a600759-2f96-4003-956f-2b68002107aa",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bell Schedule"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Bell Schedule",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/cfddf3da7f1d4d4c82798ead5eaa3ff9",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-bell color-yellow"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "62c23bca-e86c-4907-8c47-85154a54596f",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Calendar"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-calendar-alt color-yellow"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Athletics Calendar",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/3cb14e77d6eb471fb0820c34bb2912e6",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "3a600759-2f96-4003-956f-2b68002107aa",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "62c23bca-e86c-4907-8c47-85154a54596f",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "3a600759-2f96-4003-956f-2b68002107aa",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "62c23bca-e86c-4907-8c47-85154a54596f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "f1a90b1e-0d10-4c71-9a11-b10c11ee0001",
      "key": "d6915b68-04a6-4874-987c-bf4678f1beca",
      "values": [
        {
          "alias": "widgets",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "97a67722-3a7a-44bd-87fb-4eb6e51e24e1",
                "key": "5a80ac45-6b28-4305-adb0-2f40337b41d5",
                "values": [
                  {
                    "alias": "eventsList",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
                          "key": "61abec81-0cb1-4f59-b2a4-9dd5989fc721",
                          "values": [
                            {
                              "alias": "eventDate",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "2026-12-26T17:00:00"
                            },
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Prom 2027"
                            },
                            {
                              "alias": "location",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "MPR"
                            },
                            {
                              "alias": "photo",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "eb0307a6-6eab-4faa-ad6c-63325172326d",
                                  "mediaKey": "6c47e226-5e90-4c6d-a822-420651a794dd",
                                  "mediaTypeAlias": "Image",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            },
                            {
                              "alias": "featured",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
                          "key": "ed3c70d9-4877-4600-9a6e-576d61018845",
                          "values": [
                            {
                              "alias": "eventDate",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "2026-10-14T17:11:03"
                            },
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Movie Night"
                            },
                            {
                              "alias": "location",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "MPR"
                            },
                            {
                              "alias": "description",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003ETest\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "featured",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
                          "key": "910d1748-021c-4b08-b71a-ce73a5f02c3b",
                          "values": [
                            {
                              "alias": "eventDate",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "2026-11-23T05:11:35"
                            },
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Thanksgiving Break"
                            },
                            {
                              "alias": "location",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "6:00 PM \u00B7 Cafeteria"
                            },
                            {
                              "alias": "featured",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
                          "key": "2e9a43e7-1a44-48b5-826d-d0e991ca70bb",
                          "values": [
                            {
                              "alias": "eventDate",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "2026-12-25T00:12:32"
                            },
                            {
                              "alias": "title",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Christmas"
                            },
                            {
                              "alias": "location",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Break"
                            },
                            {
                              "alias": "description",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003Etest\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "featured",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "61abec81-0cb1-4f59-b2a4-9dd5989fc721",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "ed3c70d9-4877-4600-9a6e-576d61018845",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "910d1748-021c-4b08-b71a-ce73a5f02c3b",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "2e9a43e7-1a44-48b5-826d-d0e991ca70bb",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "61abec81-0cb1-4f59-b2a4-9dd5989fc721",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "ed3c70d9-4877-4600-9a6e-576d61018845",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "910d1748-021c-4b08-b71a-ce73a5f02c3b",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "2e9a43e7-1a44-48b5-826d-d0e991ca70bb",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Upcoming  Events"
                  }
                ]
              },
              {
                "contentTypeKey": "c1b69720-0000-4a10-9c22-c1b697200001",
                "key": "f0651f44-86d9-4473-a241-9ef47267cc90",
                "values": [
                  {
                    "alias": "clubs",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                          "key": "6e8fe4b1-c00a-4454-8b2b-f2ae42528c33",
                          "values": [
                            {
                              "alias": "clubName",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "ASB / Leadership"
                            },
                            {
                              "alias": "initials",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "A"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                          "key": "dd365d8b-4463-4a54-abca-93a27315b125",
                          "values": [
                            {
                              "alias": "clubName",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "AVID"
                            },
                            {
                              "alias": "initials",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "A"
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                          "key": "48a658fc-0912-482b-a689-f0233730a8f9",
                          "values": [
                            {
                              "alias": "clubName",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "ROTC"
                            },
                            {
                              "alias": "initials",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "R"
                            },
                            {
                              "alias": "link",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "name": "JROTC",
                                  "target": null,
                                  "unique": null,
                                  "type": null,
                                  "udi": "umb://document/572e6da86c4041dfb50cdf743599427b",
                                  "url": null,
                                  "queryString": null,
                                  "culture": null
                                }
                              ]
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
                          "key": "174752e3-0c4b-4cca-9ea9-d13b49e38186",
                          "values": [
                            {
                              "alias": "clubName",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Purple Press"
                            },
                            {
                              "alias": "initials",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "blockVisibility",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "1"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "6e8fe4b1-c00a-4454-8b2b-f2ae42528c33",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "dd365d8b-4463-4a54-abca-93a27315b125",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "48a658fc-0912-482b-a689-f0233730a8f9",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "174752e3-0c4b-4cca-9ea9-d13b49e38186",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "6e8fe4b1-c00a-4454-8b2b-f2ae42528c33",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "dd365d8b-4463-4a54-abca-93a27315b125",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "48a658fc-0912-482b-a689-f0233730a8f9",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "174752e3-0c4b-4cca-9ea9-d13b49e38186",
                            "contentUdi": null,
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  },
                  {
                    "alias": "viewAllLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "View All Clubs and Activities",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/d465079217fb498c866a2504d1e12bec",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "heading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Clubs and Activites"
                  }
                ]
              }
            ],
            "settingsData": [
              {
                "contentTypeKey": "5b31eb53-a87d-47db-8a51-ca69868c4a74",
                "key": "f376cceb-1bb4-48a0-abb3-c01950e26359",
                "values": [
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "centerHeading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "showTopBorder",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "blockStyle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Style 2"
                    ]
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "#4a1f7a"
                  },
                  {
                    "alias": "verticalSpacing",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              },
              {
                "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
                "key": "e116e0bf-4651-4d11-ac9c-6d8e4051c6b5",
                "values": [
                  {
                    "alias": "centerHeading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "showTopBorder",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  },
                  {
                    "alias": "backgroundColor",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "#4a1f7a"
                  }
                ]
              }
            ],
            "expose": [
              {
                "contentKey": "5a80ac45-6b28-4305-adb0-2f40337b41d5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f0651f44-86d9-4473-a241-9ef47267cc90",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5a80ac45-6b28-4305-adb0-2f40337b41d5",
                  "contentUdi": null,
                  "settingsKey": "f376cceb-1bb4-48a0-abb3-c01950e26359",
                  "settingsUdi": null
                },
                {
                  "contentKey": "f0651f44-86d9-4473-a241-9ef47267cc90",
                  "contentUdi": null,
                  "settingsKey": "e116e0bf-4651-4d11-ac9c-6d8e4051c6b5",
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "block-line--seamless"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "236e718b-45a3-4d3c-bdde-819026c17bed",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9567b44b-7968-42c7-b20b-d48496d45b95",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d6915b68-04a6-4874-987c-bf4678f1beca",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9567b44b-7968-42c7-b20b-d48496d45b95",
        "contentUdi": null,
        "settingsKey": "236e718b-45a3-4d3c-bdde-819026c17bed",
        "settingsUdi": null
      },
      {
        "contentKey": "d6915b68-04a6-4874-987c-bf4678f1beca",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1cfec9b2-16ef-48bd-ad2b-a9e94feef180",
      "key": "52700c66-f5f1-4afb-b952-72761b6023e8",
      "values": [
        {
          "alias": "background",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a89917dd-443c-4e5a-9dee-8909b0b1ca5f",
              "mediaKey": "3d2afd65-5c33-4f3c-b05b-44e103b9577c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "22adda31-427c-4baf-87c7-6dff89354a03",
      "key": "ddae7e70-f7ef-4a85-82dc-cca98592b11e",
      "values": [
        {
          "alias": "width",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        },
        {
          "alias": "textAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "text-center"
          ]
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "justify-content-center"
          ]
        },
        {
          "alias": "verticalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "align-items-center"
          ]
        },
        {
          "alias": "height",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "25"
        },
        {
          "alias": "textWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "imageOverlayOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "textBoxOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "10"
        },
        {
          "alias": "animation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "52700c66-f5f1-4afb-b952-72761b6023e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52700c66-f5f1-4afb-b952-72761b6023e8",
        "contentUdi": null,
        "settingsKey": "ddae7e70-f7ef-4a85-82dc-cca98592b11e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Students]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>