<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9907f67-f304-44df-9398-e6a69af33e87" Alias="Volleyball" Level="3">
  <Info>
    <Parent Key="d39fe861-7fd1-4449-ae0b-1a95635b6f05">Athletics</Parent>
    <Path>/Home/Athletics/Volleyball</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T11:00:00</CreateDate>
    <NodeName Default="Volleyball" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "ee526790-2250-42d4-92d1-40096386004c",
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Ca data-router-slot=\u0022disabled\u0022 data-anchor=\u0022?usp=sharing\u0022 href=\u0022https://docs.google.com/spreadsheets/d/15TD31D_Rfg6RvDSWcHG9a99CQATWg6SHRyF0J_Kxeeg/edit?usp=sharing\u0022 title=\u0022Athletic Calendar\u0022 type=\u0022external\u0022\u003E\u003Cstrong\u003E\u003Cu\u003EAthletic Calendar\u003C/u\u003E\u003C/strong\u003E\u003C/a\u003E\u003C/p\u003E\u003Cp\u003EPlease click on the link to our Athletic Calendar and use the tabs at the bottom to see each sport\u0027s schedule.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "285e930e-15f7-4203-a9e4-17e530d8e14c",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "ee526790-2250-42d4-92d1-40096386004c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ee526790-2250-42d4-92d1-40096386004c",
        "contentUdi": null,
        "settingsKey": "285e930e-15f7-4203-a9e4-17e530d8e14c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Volleyball]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>