<?xml version="1.0" encoding="utf-8"?>
<Content Key="df6e0867-1444-4d83-91e5-6f70263f5ed0" Alias="WASC Report" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/WASCReport</Path>
    <Trashed>false</Trashed>
    <ContentType>linkPage</ContentType>
    <CreateDate>2026-08-24T21:26:56</CreateDate>
    <NodeName Default="WASC Report" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85f95020-19fb-4710-a9f8-eb008ee869a6">link</Template>
  </Info>
  <Properties>
    <linkUrl>
      <Value><![CDATA[[
  {
    "name": "WSACReport.pdf",
    "target": "_blank",
    "unique": null,
    "type": null,
    "udi": "umb://media/574788dfde4b4c3e9abb8a08c5606cb1",
    "url": null,
    "queryString": null,
    "culture": null
  }
]]]></Value>
    </linkUrl>
    <sideBarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sideBarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>