<?xml version="1.0" encoding="utf-8"?>
<Content Key="57621d2c-2561-4c1b-9caa-bf3ae3842502" Alias="Weekly &quot;At a Glance&quot; ELOs" Level="4">
  <Info>
    <Parent Key="dfa5e0e7-f470-4796-a2c5-8be4b4b25c92">ELOs</Parent>
    <Path>/Home/Students/ELOs/WeeklyAtAGlanceELOs</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-09-11T12:00:00</CreateDate>
    <NodeName Default="Weekly &quot;At a Glance&quot; ELOs" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c4a0d80c-1a11-4b0e-9c22-ca4db0c50001",
      "key": "957bdc2e-2473-4307-b745-51e196d0ccd6",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Before \u0026 After School Opportunities"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETutoring, intervention and SEL club sessions available before and after school, Monday through Friday.\u003C/p\u003E"
          }
        },
        {
          "alias": "cards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "04ac9dc9-0662-48a4-b7a7-bce3715aae37",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Monday AM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Math (7:00-8:00am)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "5c85e419-50e5-4079-b22c-b5440f683af5",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tuesday AM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Math \u0026amp; AVID (7:00-8:00am)\u003C/p\u003E\u003Cp\u003ESPED ELA Tutoring - Rm 129 (7:45-8:15am)\u003C/p\u003E\u003Cp\u003ESEL: Artist Club - Rm 203 (7:15-8:15am)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "b366de8c-8af9-4de6-8451-7b636cc57c63",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Wednesday AM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - all subjects (7:00-8:00am)\u003C/p\u003E\u003Cp\u003ESEL: Wellness Wednesday - Rm 206 (7:45-8:15am)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "4a5aebbf-14c7-461e-9b84-bac09224846b",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thursday AM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Math \u0026amp; AVID (7:00-8:00am)\u003C/p\u003E\u003Cp\u003ESPED ELA Tutoring - Rm 129 (7:45-8:15am)\u003C/p\u003E\u003Cp\u003ESEL: Artist Club - Rm 203 (7:15-8:15am)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "c29b0000-4464-48e7-92ec-9f7d18a94db8",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Friday AM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Math (7:00-8:00am)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "01e845d1-ddbf-4bd2-9896-2ed40f318b58",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Monday PM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Spanish \u0026amp; Math (3:30-6:15pm)\u003C/p\u003E\u003Cp\u003EAlgebra 1 Tutoring - Rm 421 (3:30-4:00pm)\u003C/p\u003E\u003Cp\u003EGeometry Tutoring - Rm 408 (3:30-4:00pm)\u003C/p\u003E\u003Cp\u003ESEL: Baile Folklorico - 200s Quad (3:30-4:30pm)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "9f84d666-ab7b-4833-8b77-2d272696ecc3",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tuesday PM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - Spanish, ELA, Math (3:30-6:15pm)\u003C/p\u003E\u003Cp\u003EAlgebra 1 Intervention - Rm 422 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EGeometry Tutoring - Rm 408 (3:30-4:00pm)\u003C/p\u003E\u003Cp\u003EAlgebra 2 Intervention - Rm 402 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ESPED Math Support - Rm 213 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ECORE (9) ELA Support - Rm 126 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EBiology Intervention - Rm 411 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EWorld History Intervention - Rm 120 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ESEL: The Well - Rm 112 (3:30-4:15pm)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "cce02ce5-4a6a-4ea8-878c-f5b59a5190d7",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Wednesday PM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - ELA, Science, Spanish (3:30-6:15pm)\u003C/p\u003E\u003Cp\u003EAlgebra 1 Tutoring - Rm 421 (3:30-4:00pm)\u003C/p\u003E\u003Cp\u003EGeometry Tutoring - Rm 407 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EEnglish 1, 2, 3 Tutoring - Rm 114 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EEnglish 4 Tutoring - Rm 115 (2:30-4:30pm)\u003C/p\u003E\u003Cp\u003EPhysical Sci/Bio/Chem Tutoring - Rm 312 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EEconomics Intervention - Rm 306 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ESEL: Clay Play Ceramics - Rm 202 (3:30-5:30pm)\u003C/p\u003E\u003Cp\u003ESEL: Baile Folklorico - 200s Quad (3:30-4:30pm)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "1f84de98-9902-4809-9375-153bae1df68b",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Thursday PM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - History/SS, Math, Spanish (3:30-6:15pm)\u003C/p\u003E\u003Cp\u003EAlgebra 1 Intervention - Rm 422 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003EGeometry Tutoring - Rm 407 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ESPED Math Support - Rm 213 (3:30-4:30pm)\u003C/p\u003E\u003Cp\u003ESEL: Bollywood Dance - Rm 402 (3:30-4:15pm)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "a9ec630d-a5a3-45c0-80a7-436a606d0953",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-clock-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Friday PM"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ELibrary Tutoring - ELA and Psychology (3:30-4:30pm)\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "04ac9dc9-0662-48a4-b7a7-bce3715aae37",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5c85e419-50e5-4079-b22c-b5440f683af5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b366de8c-8af9-4de6-8451-7b636cc57c63",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4a5aebbf-14c7-461e-9b84-bac09224846b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c29b0000-4464-48e7-92ec-9f7d18a94db8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "01e845d1-ddbf-4bd2-9896-2ed40f318b58",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9f84d666-ab7b-4833-8b77-2d272696ecc3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cce02ce5-4a6a-4ea8-878c-f5b59a5190d7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1f84de98-9902-4809-9375-153bae1df68b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a9ec630d-a5a3-45c0-80a7-436a606d0953",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "04ac9dc9-0662-48a4-b7a7-bce3715aae37",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5c85e419-50e5-4079-b22c-b5440f683af5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b366de8c-8af9-4de6-8451-7b636cc57c63",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4a5aebbf-14c7-461e-9b84-bac09224846b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c29b0000-4464-48e7-92ec-9f7d18a94db8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "01e845d1-ddbf-4bd2-9896-2ed40f318b58",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9f84d666-ab7b-4833-8b77-2d272696ecc3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cce02ce5-4a6a-4ea8-878c-f5b59a5190d7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1f84de98-9902-4809-9375-153bae1df68b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a9ec630d-a5a3-45c0-80a7-436a606d0953",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "6b397911-1ed0-4908-b449-4c13d6f739b0",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "957bdc2e-2473-4307-b745-51e196d0ccd6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "957bdc2e-2473-4307-b745-51e196d0ccd6",
        "contentUdi": null,
        "settingsKey": "6b397911-1ed0-4908-b449-4c13d6f739b0",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pageTitle>
      <Value><![CDATA[Weekly "At a Glance" ELOs]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>