<?xml version="1.0" encoding="utf-8"?>
<Content Key="0bc7f8d4-5c57-441c-98eb-4f2ba2adf66c" Alias="Work permit" Level="3">
  <Info>
    <Parent Key="ac624a1d-0239-48d7-92ae-cd3fa08942e1">Students</Parent>
    <Path>/Home/Students/WorkPermit</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T12:00:00</CreateDate>
    <NodeName Default="Work permit" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "63449ab8-5670-429a-86ef-a825286ba66e",
      "values": [
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "94212abd-4377-433a-bc9e-b06c36329a6e",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Work permit"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Work Permit",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://media/cc726913051f42778c874eb7ce8a8df8",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "94212abd-4377-433a-bc9e-b06c36329a6e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "94212abd-4377-433a-bc9e-b06c36329a6e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "06bcae07-fbc5-4569-9ceb-f844d101426f",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "63449ab8-5670-429a-86ef-a825286ba66e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "63449ab8-5670-429a-86ef-a825286ba66e",
        "contentUdi": null,
        "settingsKey": "06bcae07-fbc5-4569-9ceb-f844d101426f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Work permit]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>