<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3d12cd6-987d-49f5-8fa6-a0f0d3655a66" Alias="Yearbook" Level="3">
  <Info>
    <Parent Key="d1977e9e-b64d-4594-b73f-636eb012ecdc">Parents</Parent>
    <Path>/Home/Parents/Yearbook</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T13:00:00</CreateDate>
    <NodeName Default="Yearbook" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Yearbook]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>