<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6978a64d-1fb1-465e-8f98-0f4ba0c8b911" Alias="alumniDirectoryWidget" Level="3">
  <Info>
    <Name>Alumni Directory</Name>
    <Icon>icon-users color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Public, searchable grid of approved alumni. Data comes from Umbraco Members, not block content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Alumni</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>