<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="04839df1-c104-4c65-903f-87e68bea9471" Alias="alumniSignupWidget" Level="3">
  <Info>
    <Name>Alumni Sign Up</Name>
    <Icon>icon-add color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Public self-service form for alumni to join the directory. Creates an unapproved Member for staff review.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Alumni</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
