<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da3324ce-95fa-48ed-a67e-43705de9693a" Alias="awardsWidget" Level="3">
  <Info>
    <Name>Awards / Recognition Banner</Name>
    <Icon>icon-trophy color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A spotlight banner for one or more awards, e.g. "California Distinguished School".</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Awards</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f45af0b8-ae25-4c27-b220-46c7d6b3654a</Key>
      <Name>Awards</Name>
      <Alias>awardsList</Alias>
      <Definition>43a7b6de-439a-4e5b-ab0e-264fe9406643</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a090878a-03fd-47ad-bf4a-c6f827ee124f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
