<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f1a90b1e-0d10-4c71-9a11-b10c11ee0001" Alias="blockLine" Level="3">
  <Info>
    <Name>Block Line</Name>
    <Icon>icon-navigation-horizontal color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A horizontal row container - place other widgets inside and they sit side by side, stacking on small screens.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Navigation</Folder>
    <Compositions>
      <Composition Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a">baseAdvancedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f1a90b1e-0d10-4c71-9a11-b10c11ee0002</Key>
      <Name>Widgets In This Row</Name>
      <Alias>widgets</Alias>
      <Definition>5a2ca282-d593-4e23-9bde-43cfe324c6d4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Each widget added here becomes a column in the row.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f1a90b1e-0d10-4c71-9a11-b10c11ee0003</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>