<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0dc71cb4-31f5-4c6c-82a0-dab5f822d9e9" Alias="memoirListWidget" Level="3">
  <Info>
    <Name>Memoir List</Name>
    <Icon>icon-book color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Public paginated list of approved memoirs, for the Alumni Directory's "Read Memoirs" page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Alumni</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
