<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="054d3461-0c35-428b-9634-b6e2fc755d24" Alias="memoirSubmitWidget" Level="3">
  <Info>
    <Name>Memoir Submit</Name>
    <Icon>icon-edit color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Public self-service form for alumni to post a memoir. Creates an unapproved memoir Member for staff review.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Alumni</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
