<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="146f354d-bcee-4e05-bbea-d251a85322cf" Alias="page" Level="2">
  <Info>
    <Name>Page</Name>
    <Icon>icon-app color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate>Page</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da53e7ee-644c-4195-b688-5ba9b4ffb5a8" SortOrder="0">linkPage</ContentType>
    <ContentType Key="146f354d-bcee-4e05-bbea-d251a85322cf" SortOrder="1">page</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f5eb53f2-b401-4e9a-a453-6102df5eb8f2</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>5a2ca282-d593-4e23-9bde-43cfe324c6d4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose from many different blocks to build your page. Rearrange the blocks by drag and drop.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent/main">Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4176c73f-7650-4ee8-9b74-af25cef42ce1</Key>
      <Name>Header Blocks</Name>
      <Alias>headerBlocks</Alias>
      <Definition>5a2ca282-d593-4e23-9bde-43cfe324c6d4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These blocks will take up the whole column at the top.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainContent/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>907be927-8ffb-4afc-8774-4e9647e65b29</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[(optional) The page name will be used as a fallback if the page title is not provided.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ae121336-1cd7-4768-920b-9c48071d6922</Key>
      <Name>Show/Hide Parent Page Content</Name>
      <Alias>showParent</Alias>
      <Definition>8bb931fd-83e3-40f3-b590-9cc1fe7770bc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enable this to show parent page blocks.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="preferences">Preferences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a12b60fa-cbae-4b04-be4f-e19d0aa3e2f0</Key>
      <Name>Show/Hide Page from Sidebar</Name>
      <Alias>sidebarNaviHide</Alias>
      <Definition>8bb931fd-83e3-40f3-b590-9cc1fe7770bc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prevent this page from being shown on the sidebar menu.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="preferences">Preferences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9dcff05-28d0-441a-a082-98dd980eb888</Key>
      <Name>Sidebar Note</Name>
      <Alias>sidebarNote</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent/sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7875edba-96e4-4f02-b88e-9ea15fa5f828</Key>
      <Name>Show/Hide Page from Top Nav</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>8bb931fd-83e3-40f3-b590-9cc1fe7770bc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Prevent this page from being displayed in any navigation menus.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="preferences">Preferences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>10408d5f-9461-4255-840d-10e0b01ed680</Key>
      <Caption>Header</Caption>
      <Alias>mainContent/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>1b9909b9-6dee-49f2-9b6d-717c990858df</Key>
      <Caption>Preferences</Caption>
      <Alias>preferences</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>4ecc9a39-eec9-49db-bcb6-6090a471c217</Key>
      <Caption>Main</Caption>
      <Alias>mainContent/main</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>72723f29-41f5-4044-aa4c-e6e71da71d8a</Key>
      <Caption>Sidebar</Caption>
      <Alias>mainContent/sidebar</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>a22798f2-6e5f-47c7-82a4-e90c3d4edc95</Key>
      <Caption>Main Content</Caption>
      <Alias>mainContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>