<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2442923-8b18-4852-b6be-4f19b006a0e8" Alias="quickLinksBar" Level="3">
  <Info>
    <Name>Quick Links Bar</Name>
    <Icon>icon-link color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A row of icon + label shortcut links, e.g. Calendar, Bell Schedule, Aeries.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Quick+Links</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77d8b02a-aa78-4363-92bc-d76014a4217a</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>a0d18c3b-d418-4e1e-8c4d-d2c327f41576</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>46a856fd-2bcb-4dbc-bcbd-51c3458dbcbb</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>