<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1ae49da-7da4-43b1-b12b-8f1abef5e962" Alias="quickLinkItem" Level="3">
  <Info>
    <Name>Quick Link Item</Name>
    <Icon>icon-link color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>One icon + label + link in the Quick Links bar.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Quick+Links</Folder>
    <Compositions>
      <Composition Key="5f78746d-6566-4c80-ab32-7ca4a4e1d04a">baseAdvancedSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b5581b2d-869c-4764-ac7b-ad17562d1754</Key>
      <Name>Pick Icon</Name>
      <Alias>icon</Alias>
      <Definition>98786ea5-77c8-4ac1-942f-48c9d0f97409</Definition>
      <Type>Umbraco.Community.Contentment.IconPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74e3f743-a729-4029-ac07-275a1b2ea47c</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[e.g. "Calendar", "Bell Schedule"]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9159f7a5-4e04-4203-9677-3b4eeb26a5b8</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>d0ce82f4-012d-445d-a801-06ff75bc7dc1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Internal page or external URL (e.g. the Aeries portal).]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>51789968-3aef-463c-a88b-e85d7d965a28</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>