<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="32a63453-ab63-4fe7-b528-1dee2903f03d" Alias="resourceGrid" Level="3">
  <Info>
    <Name>Resource Grid</Name>
    <Icon>icon-document-dashed-line color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A grid of labeled resource/form chips, each optionally linking out.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Resources</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8713a3fb-dbe7-47dc-aae5-1c382d6e07a6</Key>
      <Name>Resource List</Name>
      <Alias>resourceList</Alias>
      <Definition>b580d638-5c3a-4ff8-b29d-d54eef640a03</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4630cad9-319c-422f-9d7b-de5203e6613e</Key>
      <Name>Action Link</Name>
      <Alias>actionLink</Alias>
      <Definition>d0ce82f4-012d-445d-a801-06ff75bc7dc1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional link shown top-right of the heading, e.g. "View all"]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e326cab0-21e5-4aa1-b803-5cee0c940048</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
