<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5100d1a5-1c1a-4d5e-9a11-11c1a5d10001" Alias="studentLinks" Level="3">
  <Info>
    <Name>Link Cards</Name>
    <Icon>icon-link color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A grid of compact link cards - each with an icon, a label and a link. Add or reorder cards in the list.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Blocks/Quick+Links</Folder>
    <Compositions>
      <Composition Key="2de152b5-b7d5-45aa-bb65-d8605ac0b6c7">baseContent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5100d1a5-1c1a-4d5e-9a11-11c1a5d10002</Key>
      <Name>Cards</Name>
      <Alias>links</Alias>
      <Definition>a0d18c3b-d418-4e1e-8c4d-d2c327f41576</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Each card is an icon, a label and a link. Drag to reorder.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5100d1a5-1c1a-4d5e-9a11-11c1a5d10003</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
