<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "label": "SHS Purple",
      "value": "4a1f7a"
    },
    {
      "label": "SHS Purple Light",
      "value": "6b3fa0"
    },
    {
      "label": "SHS Purple Pale",
      "value": "f3edfa"
    },
    {
      "label": "SHS Gold",
      "value": "c9a227"
    },
    {
      "label": "White",
      "value": "ffffff"
    },
    {
      "label": "Near Black",
      "value": "1e211c"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>