<?xml version="1.0" encoding="utf-8"?>
<DataType Key="750db36e-d38a-41da-95be-c53f9b091777" Alias="[Block List] College Planning Milestones" Level="2">
  <Info>
    <Name>[Block List] College Planning Milestones</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7f6af526-a07a-4523-bd83-1f1d68d30b7b",
      "label": "Milestone : ${ grade }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>
