<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b7c30a10-0007-4c30-b8a1-b7c30a100001" Alias="[Block List] Achievement Stats" Level="2">
  <Info>
    <Name>[Block List] Achievement Stats</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b7c30a10-0002-4c30-b8a1-b7c30a100001",
      "label": "Stat: ${ value } ${ label }",
      "editorSize": "small"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>
