<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76f28c1c-620e-49d1-a014-a6241b14e536" Alias="[Block List] Event Items List" Level="2">
  <Info>
    <Name>[Block List] Event Items List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "87487577-69d8-41d7-990c-e6fef966f884",
      "label": "Event : ${ title || eventDate }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>