<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43a7b6de-439a-4e5b-ab0e-264fe9406643" Alias="[Block List] Awards" Level="2">
  <Info>
    <Name>[Block List] Awards</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4275d06e-5d8f-4785-bc5a-9fd26ba2ce27",
      "label": "Award : ${ title }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>
