<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72e58239-487f-4538-9db7-1507a2c316f6" Alias="[Block List] Image Box List" Level="2">
  <Info>
    <Name>[Block List] Image Box List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d8ec3a82-0207-46da-b3ee-5430af71dcf5",
      "label": "Image Box : ${ title || anchorId }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>