<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1b17e11-da7a-4a10-9c22-c1b17eda7a01" Alias="[Block List] Clubs" Level="2">
  <Info>
    <Name>[Block List] Clubs</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c1b17e11-0000-4a10-9c22-c1b17e110001",
      "label": "Club : ${ clubName }",
      "editorSize": "small"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>
