<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5889505d-1d84-4fd8-a7cf-8fd302a04ce7" Alias="[Block List] Sports List" Level="2">
  <Info>
    <Name>[Block List] Sports List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3c42f217-5203-486a-a94c-f00d71212cc5",
      "label": "Sport : ${ name }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>