<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a24c41be-e016-4928-991b-aee4b65230c1" Alias="[Block List] News List" Level="2">
  <Info>
    <Name>[Block List] News List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "675829a1-e788-47da-a8a8-ef935d3fd4b6",
      "label": "News : ${ title }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>
