<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b580d638-5c3a-4ff8-b29d-d54eef640a03" Alias="[Block List] Resource Items List" Level="2">
  <Info>
    <Name>[Block List] Resource Items List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
      "label": "Resource : ${ label }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>