<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9fec7c34-4cbb-44ee-a6b6-f934fe54071e" Alias="[Block List] Sidebar Blocks" Level="1">
  <Info>
    <Name>[Block List] Sidebar Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "editorSize": "full",
      "label": "Sidebar Block : ${heading}",
      "settingsElementTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283"
    },
    {
      "contentElementTypeKey": "1f4b8ac7-f38a-427f-b857-c81bf67d2999",
      "label": "Sidebar Text : ${heading}"
    }
  ]
}]]></Config>
</DataType>