<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0d18c3b-d418-4e1e-8c4d-d2c327f41576" Alias="[Block List] Quick Links" Level="2">
  <Info>
    <Name>[Block List] Quick Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
      "label": "Link : ${ label }",
      "editorSize": "small"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>