<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43190973-44f9-4da9-aef9-8de01843d97f" Alias="[Block List] Staff List" Level="2">
  <Info>
    <Name>[Block List] Staff List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
      "label": "Staff : ${ name || title }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>