<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b12c477e-1a87-42aa-805d-eecc32b2b817" Alias="[Block List] Athletics Games" Level="2">
  <Info>
    <Name>[Block List] Athletics Games</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Blocks</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "43b16654-d395-4176-afdb-6e9470bbcb52",
      "label": "Game : ${ opponent }",
      "editorSize": "full"
    }
  ],
  "maxPropertyWidth": "100%"
}]]></Config>
</DataType>