<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5e2a20-0007-4c30-b8a1-9f5e2a200001" Alias="[Content] News Articles" Level="1">
  <Info>
    <Name>[Content] News Articles</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TreePicker</EditorUIAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "filter": "9f5e2a20-0002-4c30-b8a1-9f5e2a200001",
  "minNumber": 0,
  "maxNumber": 4,
  "ignoreUserStartNodes": true,
  "treeSource": { "type": "content" }
}]]></Config>
</DataType>
