<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5e2a20-0008-4c30-b8a1-9f5e2a200001" Alias="List View - News Articles" Level="1">
  <Info>
    <Name>List View - News Articles</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Collection</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "includeProperties": [
    {
      "alias": "publishedDate",
      "header": "Published",
      "isSystem": false
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": true
    }
  ],
  "layouts": [
    {
      "name": "List",
      "collectionView": "Umb.CollectionView.Document.Table",
      "icon": "icon-list",
      "isSystem": true,
      "selected": true
    }
  ],
  "orderBy": "updateDate",
  "orderDirection": "desc",
  "pageSize": 100
}]]></Config>
</DataType>
