<?xml version="1.0" encoding="utf-8"?>
<Media Key="003904a0-2427-4fea-b86c-21117678c765" Alias="26-27_BellSchedule.pdf" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/BellSchedulepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-24T19:15:23</CreateDate>
    <NodeName Default="26-27_BellSchedule.pdf" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oddpdznf/26-27_bellschedule.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>