<?xml version="1.0" encoding="utf-8"?>
<Media Key="129053ac-0f9b-4d8e-b9dd-4433b9af452d" Alias="61i4zdtmxtl.jpg" Level="4">
  <Info>
    <Parent Key="5301ac10-75a2-4eef-b637-6a3a04137138">Desk Scanners</Parent>
    <Path>/Quotes/Accessories/DeskScanners/i4zdtmxtljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:25:35</CreateDate>
    <NodeName Default="61i4zdtmxtl.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eomnnjhs/61i4zdtmxtl.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>