<?xml version="1.0" encoding="utf-8"?>
<Media Key="89017bc9-9782-4c36-9f76-46b5cc2273c4" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="e2a2aff2-1371-44f5-8a6d-f08ce540f643">Quotes</Parent>
    <Path>/Quotes/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-20T18:24:05</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>