<?xml version="1.0" encoding="utf-8"?>
<Media Key="006399ff-2b40-4b9d-9222-2c70ece3bac2" Alias="Athletics Schedule QR Banner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AthleticsScheduleQRBannerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-13T15:00:00</CreateDate>
    <NodeName Default="Athletics Schedule QR Banner.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qmshgh7t/athletics-schedule-qr-banner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
