<?xml version="1.0" encoding="utf-8"?>
<Media Key="5deb3386-1d8b-43eb-a911-c810dfae1a5a" Alias="Athletics" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Athletics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="Athletics" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties />
</Media>