<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0a1d000-0000-4b02-9c02-000000000002" Alias="AVID Schoolwide.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AVIDSchoolwidepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-30T21:30:00</CreateDate>
    <NodeName Default="AVID Schoolwide.png" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/avidsw01/avid-schoolwide.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>