<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6a2065f-f36a-415b-8d56-b5032f5d6d0f" Alias="banner.jpg" Level="2">
  <Info>
    <Parent Key="a3ac5da6-38c2-4912-82e0-2550cefeb53b">JROTC</Parent>
    <Path>/JROTC/bannerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T16:27:38</CreateDate>
    <NodeName Default="banner.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0dgoiyad/banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>