<?xml version="1.0" encoding="utf-8"?>
<Media Key="424a512e-d1fb-4a7b-8dec-ab190802a2cd" Alias="Barcode Scanners" Level="3">
  <Info>
    <Parent Key="89017bc9-9782-4c36-9f76-46b5cc2273c4">Accessories</Parent>
    <Path>/Quotes/Accessories/BarcodeScanners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-20T18:24:11</CreateDate>
    <NodeName Default="Barcode Scanners" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>