<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e9eada7-0ae1-4607-9c1a-ba1b0f220899" Alias="BlueAndOrangeBasketballTournamentPoster.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BlueAndOrangeBasketballTournamentPosterjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-03T16:08:13</CreateDate>
    <NodeName Default="BlueAndOrangeBasketballTournamentPoster.jpg" />
    <SortOrder>90</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fbtnqkei/blueandorangebasketballtournamentposter.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>