<?xml version="1.0" encoding="utf-8"?>
<Media Key="a778089b-55e5-5a07-8038-2c7257eeb4bc" Alias="BurgerKingScholars.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/BurgerKingScholarspdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="BurgerKingScholars.pdf" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/skjoghkv/burger-king-scholars.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>