<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4b27806-44c3-40d1-bd86-1e74b2a5fee6" Alias="Cart_100.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cart_100png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T23:42:24</CreateDate>
    <NodeName Default="Cart_100.png" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rgzpiqvk/cart_100.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>