<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c36aa18-8259-47b6-b3af-ae62777ab917" Alias="CartCircle.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CartCirclepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-02T01:29:22</CreateDate>
    <NodeName Default="CartCircle.png" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s3qhb0rq/cartcircle.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>