<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4bea005-c4fc-4bc5-babe-13310099bbf9" Alias="Cart512.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cart512png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-02T01:25:07</CreateDate>
    <NodeName Default="Cart512.png" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rjvpq2uv/cart512.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>