<?xml version="1.0" encoding="utf-8"?>
<Media Key="66bf2738-339d-49e1-b4a5-66a999694aa2" Alias="charing-station.jpeg" Level="4">
  <Info>
    <Parent Key="6808593e-a6f5-48bd-ac65-9618f2afcd11">Charging Stations</Parent>
    <Path>/Quotes/Accessories/ChargingStations/charingStationjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:25:02</CreateDate>
    <NodeName Default="charing-station.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w5wptuhu/charing-station.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>