<?xml version="1.0" encoding="utf-8"?>
<Media Key="6808593e-a6f5-48bd-ac65-9618f2afcd11" Alias="Charging Stations" Level="3">
  <Info>
    <Parent Key="89017bc9-9782-4c36-9f76-46b5cc2273c4">Accessories</Parent>
    <Path>/Quotes/Accessories/ChargingStations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-20T18:24:57</CreateDate>
    <NodeName Default="Charging Stations" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>