<?xml version="1.0" encoding="utf-8"?>
<Media Key="eaff3670-a4e8-48ea-bf32-36ba88a8c428" Alias="cheer.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cheerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-09T16:09:28</CreateDate>
    <NodeName Default="cheer.jpg" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/554lsxeb/cheer.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>