<?xml version="1.0" encoding="utf-8"?>
<Media Key="435cc678-3f23-5c89-9e82-a76321e7cac9" Alias="CocaColaScholarship.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/CocaColaScholarshippdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="CocaColaScholarship.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n4rjnlz5/coca-cola-scholarship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>