<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fe72909-80c2-4f7f-a81c-c3041fe0f34d" Alias="CollegeRepsVisits.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CollegeRepsVisitspdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T16:22:16</CreateDate>
    <NodeName Default="CollegeRepsVisits.pdf" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1hvd44sa/collegerepsvisits.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>