<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e7d3e7f-296a-4ef3-828a-2dc0ba99ce42" Alias="Crest.png" Level="2">
  <Info>
    <Parent Key="a3ac5da6-38c2-4912-82e0-2550cefeb53b">JROTC</Parent>
    <Path>/JROTC/Crestpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T16:30:18</CreateDate>
    <NodeName Default="Crest.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4d0dxsad/crest.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>