<?xml version="1.0" encoding="utf-8"?>
<Media Key="9467e547-34b3-4e39-b259-e52384ad46a9" Alias="dell-products.jpeg" Level="3">
  <Info>
    <Parent Key="d950af1d-36a6-4e69-8f4a-c587379524f0">Quotes Main Page</Parent>
    <Path>/Quotes/QuotesMainPage/dellProductsjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-19T18:27:56</CreateDate>
    <NodeName Default="dell-products.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zaxdciw0/dell-products.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>