<?xml version="1.0" encoding="utf-8"?>
<Media Key="896ab112-dd24-59a8-98ec-5b2a805661c2" Alias="DellScholarsProgram.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/DellScholarsProgrampdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="DellScholarsProgram.pdf" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eftkvu4m/dell-scholars-program.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>