<?xml version="1.0" encoding="utf-8"?>
<Media Key="7514f756-f875-45e4-8bb5-88e453af94e8" Alias="DrEspinoza.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DrEspinozajpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T22:11:14</CreateDate>
    <NodeName Default="DrEspinoza.jpg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1e4ffqy2/drespinoza.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>