<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c9caab5-df72-493f-b578-20b00dbd5fdb" Alias="DrEspinoza.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DrEspinozasvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-28T22:07:40</CreateDate>
    <NodeName Default="DrEspinoza.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2ld21tj/drespinoza.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>