<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e6929c1-0a52-4a93-b1f5-fc719e67ebce" Alias="DrTran.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DrTranpng</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-24T22:29:22</CreateDate>
    <NodeName Default="DrTran.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j1rd5gb1/drtran.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>