<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d3f93ed-d8e4-45b0-9c46-c2534f3de882" Alias="DrTran.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DrTransvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-28T22:07:40</CreateDate>
    <NodeName Default="DrTran.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d2xj1p55/drtran.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>