<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bb4b6f9-f362-454e-acc7-fcb98dcad880" Alias="dsc06822.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dsc06822jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-23T18:48:58</CreateDate>
    <NodeName Default="dsc06822.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oz4pf5il/dsc06822.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>