<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93e2861-7b0d-57e6-9537-0a2a2cefac4b" Alias="EdisonScholarsProgram.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/EdisonScholarsProgrampdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="EdisonScholarsProgram.pdf" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4eac6xsn/edison-scholars-program.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>