<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebaf2b17-ed6a-52e7-bbdb-762ad3812966" Alias="ElksMypScholarship.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/ElksMypScholarshippdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="ElksMypScholarship.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvygnbb5/elks-myp-scholarship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>