<?xml version="1.0" encoding="utf-8"?>
<Media Key="fccd64ad-4ad7-4784-a490-64e7ec6187e3" Alias="elmo_1379_tt_12w_stem_cam_visual_presenter_1551287.jpg" Level="4">
  <Info>
    <Parent Key="5301ac10-75a2-4eef-b637-6a3a04137138">Desk Scanners</Parent>
    <Path>/Quotes/Accessories/DeskScanners/elmo_1379_tt_12w_stem_cam_visual_presenter_1551287jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:33:20</CreateDate>
    <NodeName Default="elmo_1379_tt_12w_stem_cam_visual_presenter_1551287.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ekxiwsv4/elmo_1379_tt_12w_stem_cam_visual_presenter_1551287.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>