<?xml version="1.0" encoding="utf-8"?>
<Media Key="33837aa1-6813-4bb8-9a9b-312b0b9cc8f8" Alias="ELO Academic 10.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic10jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 10.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1jzs0zcb/elo-academic-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
