<?xml version="1.0" encoding="utf-8"?>
<Media Key="995f3195-b6a3-472a-8859-e484c3b195eb" Alias="ELO Academic 9.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic9jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 9.jpg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lf4v9an4/elo-academic-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
