<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebee49da-9b42-42ae-82fc-80225ce58f3e" Alias="ELO Academic 3.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 3.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ex8kj8ri/elo-academic-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
