<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe8cf2e5-2181-4a3e-aaff-38e43371728c" Alias="ELO Academic 8.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 8.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/7ken5jfy/elo-academic-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
