<?xml version="1.0" encoding="utf-8"?>
<Media Key="94ec3439-adfa-490d-b979-ae7a5a5af2a1" Alias="ELO SEL 4.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOSEL4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO SEL 4.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yy66787e/elo-sel-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
