<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3712488-dd1b-4174-84b2-4b71ac7f4dbf" Alias="ELO SEL 3.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOSEL3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO SEL 3.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j1fb3j75/elo-sel-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
