<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9c90eca-6489-486c-82ee-1d7f523d0de0" Alias="ELO Academic 6.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 6.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ex73d32d/elo-academic-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
