<?xml version="1.0" encoding="utf-8"?>
<Media Key="a45a39ea-933d-453a-b5bb-269cab0b4060" Alias="ELO Academic 7.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOAcademic7jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO Academic 7.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n5bhia5o/elo-academic-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
