<?xml version="1.0" encoding="utf-8"?>
<Media Key="85bcf6ee-5505-4b8b-ad3f-53c6b4b4d015" Alias="ELO College Career 2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ELOCollegeCareer2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-12T12:00:00</CreateDate>
    <NodeName Default="ELO College Career 2.jpg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/avxpe1ju/elo-ccr-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>
