<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc2575cb-0ee4-4f3d-bdba-650d7f75beef" Alias="epson-products.png" Level="3">
  <Info>
    <Parent Key="d950af1d-36a6-4e69-8f4a-c587379524f0">Quotes Main Page</Parent>
    <Path>/Quotes/QuotesMainPage/epsonProductspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-19T18:27:56</CreateDate>
    <NodeName Default="epson-products.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/is5hgcun/epson-products.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>