<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d292a99-f7ec-414d-acab-af9372c0f93e" Alias="grads.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gradsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-29T15:53:48</CreateDate>
    <NodeName Default="grads.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c1qg5o2f/grads.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>