<?xml version="1.0" encoding="utf-8"?>
<Media Key="e33c2a4f-69e4-4fdd-aeaa-a471c05c5a51" Alias="group.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/groupjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-09T19:59:33</CreateDate>
    <NodeName Default="group.jpg" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ydqhuvmn/group.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>