<?xml version="1.0" encoding="utf-8"?>
<Media Key="502a3080-2971-41f8-83ea-0ae73db4a164" Alias="Headsets" Level="3">
  <Info>
    <Parent Key="89017bc9-9782-4c36-9f76-46b5cc2273c4">Accessories</Parent>
    <Path>/Quotes/Accessories/Headsets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-20T18:31:07</CreateDate>
    <NodeName Default="Headsets" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>