<?xml version="1.0" encoding="utf-8"?>
<Media Key="b60b9744-8042-4547-b4a5-0fde20468b2e" Alias="HelpfulWebsites.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HelpfulWebsitespdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T17:02:18</CreateDate>
    <NodeName Default="HelpfulWebsites.pdf" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/srkngu4a/helpfulwebsites.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>