<?xml version="1.0" encoding="utf-8"?>
<Media Key="fab9ba6a-3fab-489a-9c5e-39c84bb45a17" Alias="HighSchoolGraduationRequirements.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HighSchoolGraduationRequirementspdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T16:28:26</CreateDate>
    <NodeName Default="HighSchoolGraduationRequirements.pdf" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xj2hchzj/highschoolgraduationrequirements.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>