<?xml version="1.0" encoding="utf-8"?>
<Media Key="46eec1f1-7277-58b5-b561-5a200f869bfd" Alias="HispanicHeritageYouthAward.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/HispanicHeritageYouthAwardpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="HispanicHeritageYouthAward.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/myyyat55/hispanic-heritage-youth-award.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>