<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8045dd8-d422-4748-ba0a-a9f8bb6d4e06" Alias="hp-products.png" Level="3">
  <Info>
    <Parent Key="d950af1d-36a6-4e69-8f4a-c587379524f0">Quotes Main Page</Parent>
    <Path>/Quotes/QuotesMainPage/hpProductspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-19T18:27:56</CreateDate>
    <NodeName Default="hp-products.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k4lfedsl/hp-products.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>