<?xml version="1.0" encoding="utf-8"?>
<Media Key="47b540fa-a7f3-4c99-939e-837027d9e354" Alias="InformedConsentAthleticParticipation.pdf" Level="2">
  <Info>
    <Parent Key="5deb3386-1d8b-43eb-a911-c810dfae1a5a">Athletics</Parent>
    <Path>/Athletics/InformedConsentAthleticParticipationpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="InformedConsentAthleticParticipation.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/unxsz0c2/informed-consent-athletic-participation.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>