<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f99b421-bd5d-4d92-a330-8bb4625fa0eb" Alias="IT Main Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ITMainSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-19T18:26:32</CreateDate>
    <NodeName Default="IT Main Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>