<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4b3b71d-2367-59b3-911a-af93ea737560" Alias="JackKentCookeScholarship.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/JackKentCookeScholarshippdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="JackKentCookeScholarship.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lg6ciebd/jack-kent-cooke-scholarship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>