<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e423a6f-d002-4a45-82cb-bbec948cdf9a" Alias="logitechh111-frontweb.jpg" Level="4">
  <Info>
    <Parent Key="502a3080-2971-41f8-83ea-0ae73db4a164">Headsets</Parent>
    <Path>/Quotes/Accessories/Headsets/logitechh111Frontwebjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:31:17</CreateDate>
    <NodeName Default="logitechh111-frontweb.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2dyajkdl/logitechh111-frontweb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>