<?xml version="1.0" encoding="utf-8"?>
<Media Key="143d47ba-0564-5394-a53f-3e43975a4dd8" Alias="McdonaldsHacerNationalScholarship.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/McdonaldsHacerNationalScholarshippdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="McdonaldsHacerNationalScholarship.pdf" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/6dn7dd7e/mcdonalds-hacer-national-scholarship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>