<?xml version="1.0" encoding="utf-8"?>
<Media Key="bff0ff69-ee33-49f3-a475-c052bff49519" Alias="Membership Form.doc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MembershipFormdoc</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-14T00:00:00</CreateDate>
    <NodeName Default="Membership Form.doc" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3v5dxy1a/membership-form.doc]]></Value>
    </umbracoFile>
  </Properties>
</Media>
