<?xml version="1.0" encoding="utf-8"?>
<Media Key="e53c6ad8-8117-4eb7-946c-1b8dd55f5665" Alias="MsWong.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MsWongjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T22:11:14</CreateDate>
    <NodeName Default="MsWong.jpg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k4qhuu14/mswong.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>