<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7e10a03-0000-4a03-9a03-a1d0e5f10003" Alias="NancyMontiel-AVID.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NancyMontielAVIDjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-30T21:00:00</CreateDate>
    <NodeName Default="NancyMontiel-AVID.jpg" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/avdmntil/nancy-montiel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>