<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc97db1-ca58-4b39-883e-95d7e89047d4" Alias="NClark.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NClarkjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T22:11:14</CreateDate>
    <NodeName Default="NClark.jpg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h01j4gjr/nclark.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>