<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ac147d0-96fa-4b9b-a84e-87123ac44af2" Alias="NewBanner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBannerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T02:36:43</CreateDate>
    <NodeName Default="NewBanner.png" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/l4gjopet/newbanner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>