<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac5e9e7-5dcf-4ac7-a419-44094d2e95dc" Alias="NewLogo.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewLogopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T05:20:05</CreateDate>
    <NodeName Default="NewLogo.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/narjhtfg/newlogo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>