<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cab2fa1-2512-4d70-8847-40921ff3fadb" Alias="NickPurple.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NickPurplejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T22:37:25</CreateDate>
    <NodeName Default="NickPurple.jpg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/f1sp1ot1/nickpurple.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>