<?xml version="1.0" encoding="utf-8"?>
<Media Key="52b9d5ac-39a9-45f4-8424-8857798ed53e" Alias="Nick2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nick2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-24T22:28:06</CreateDate>
    <NodeName Default="Nick2.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/empp5zga/nick2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>