<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f4667a9-476e-4272-aeff-5c1203d6b99a" Alias="Nick.svg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Nicksvg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-28T22:07:34</CreateDate>
    <NodeName Default="Nick.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lpnojllv/nick.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>