<?xml version="1.0" encoding="utf-8"?>
<Media Key="8923d90a-b05c-43c7-bc88-997f4b1442c3" Alias="NovemberSeniorNewsletter.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NovemberSeniorNewsletterpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-03T15:29:59</CreateDate>
    <NodeName Default="NovemberSeniorNewsletter.pdf" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1inpw1g4/novemberseniornewsletter.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>