<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4e21b7d-b851-4e6e-a097-c30be56e3cd8" Alias="nuscan1600_front_web.jpg" Level="4">
  <Info>
    <Parent Key="424a512e-d1fb-4a7b-8dec-ab190802a2cd">Barcode Scanners</Parent>
    <Path>/Quotes/Accessories/BarcodeScanners/nuscan1600_front_webjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:24:17</CreateDate>
    <NodeName Default="nuscan1600_front_web.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4liliary/nuscan1600_front_web.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>