<?xml version="1.0" encoding="utf-8"?>
<Media Key="5301ac10-75a2-4eef-b637-6a3a04137138" Alias="Other Accessories" Level="3">
  <Info>
    <Parent Key="89017bc9-9782-4c36-9f76-46b5cc2273c4">Accessories</Parent>
    <Path>/Quotes/Accessories/OtherAccessories</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-20T18:25:28</CreateDate>
    <NodeName Default="Other Accessories" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>