<?xml version="1.0" encoding="utf-8"?>
<Media Key="070af8fa-9053-5c0f-aa01-782766df4d15" Alias="ParchmentUserGuide.pdf" Level="2">
  <Info>
    <Parent Key="d6fa6abf-b691-502e-9eb3-891a91a9ac02">Transcript Request</Parent>
    <Path>/TranscriptRequest/ParchmentUserGuidepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="ParchmentUserGuide.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vz3o2jsz/parchment-user-guide.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>