<?xml version="1.0" encoding="utf-8"?>
<Media Key="d950af1d-36a6-4e69-8f4a-c587379524f0" Alias="Quotes Main Page" Level="2">
  <Info>
    <Parent Key="e2a2aff2-1371-44f5-8a6d-f08ce540f643">Quotes</Parent>
    <Path>/Quotes/QuotesMainPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-19T18:27:27</CreateDate>
    <NodeName Default="Quotes Main Page" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>