<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2a2aff2-1371-44f5-8a6d-f08ce540f643" Alias="Quotes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Quotes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-05-19T18:27:10</CreateDate>
    <NodeName Default="Quotes" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>