<?xml version="1.0" encoding="utf-8"?>
<Media Key="98f6c82b-97aa-446c-b9d8-672288d8209e" Alias="Raiders1.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Raiders1jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T07:14:30</CreateDate>
    <NodeName Default="Raiders1.jpeg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uqblalwd/raiders1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>