<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bfaec58-71f7-4689-8a91-98c5ea3dd014" Alias="Raiders5.jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Raiders5jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-29T07:14:30</CreateDate>
    <NodeName Default="Raiders5.jpeg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/02tlztm4/raiders5.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>