<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4c31172-7c30-425a-a458-7e074b88f1e2" Alias="RegisterToVote.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/RegisterToVotejpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-04T01:56:01</CreateDate>
    <NodeName Default="RegisterToVote.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5xnjkasz/registertovote.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>