<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1fcee82-3d02-43fd-8e25-42fbcb79f89c" Alias="School Compact.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SchoolCompactpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-13T16:00:00</CreateDate>
    <NodeName Default="School Compact.pdf" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/190q45hd/school-compact.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>
