<?xml version="1.0" encoding="utf-8"?>
<Media Key="772384b1-ad7e-41cd-8403-f6390edcd5ba" Alias="SchoolMap25-26.pdf" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/SchoolMap2526pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-24T19:15:23</CreateDate>
    <NodeName Default="SchoolMap25-26.pdf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfdoxex2/schoolmap25-26.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>