<?xml version="1.0" encoding="utf-8"?>
<Media Key="c25f8426-8d65-4dd2-8d08-348795784412" Alias="SchoolAward.png" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/SchoolAwardpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-27T04:11:38</CreateDate>
    <NodeName Default="SchoolAward.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfhbs3am/schoolaward.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>