<?xml version="1.0" encoding="utf-8"?>
<Media Key="611527d3-b360-4e15-b06b-8429a191aa41" Alias="sd25-back.jpg" Level="4">
  <Info>
    <Parent Key="5301ac10-75a2-4eef-b637-6a3a04137138">Desk Scanners</Parent>
    <Path>/Quotes/Accessories/DeskScanners/sd25Backjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-20T18:33:20</CreateDate>
    <NodeName Default="sd25-back.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ltwfhvyj/sd25-back.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>