<?xml version="1.0" encoding="utf-8"?>
<Media Key="22a09757-ab3d-401b-9ca3-7b88713c8867" Alias="SexEquityInEducationActReporting2018-2019.pdf" Level="2">
  <Info>
    <Parent Key="5deb3386-1d8b-43eb-a911-c810dfae1a5a">Athletics</Parent>
    <Path>/Athletics/SexEquityInEducationActReporting20182019pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="SexEquityInEducationActReporting2018-2019.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hq3ysc8z/sex-equity-in-education-act-reporting-2018-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>