<?xml version="1.0" encoding="utf-8"?>
<Media Key="03df73e7-6dd4-4fb8-a599-89ebbda31026" Alias="ShoppingCartSM.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ShoppingCartSMpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T22:43:18</CreateDate>
    <NodeName Default="ShoppingCartSM.png" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nc2jtnn3/shoppingcartsm.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>