<?xml version="1.0" encoding="utf-8"?>
<Media Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8" Alias="SHS Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SHSSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-08-24T21:51:28</CreateDate>
    <NodeName Default="SHS Slider" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>