<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c47e226-5e90-4c6d-a822-420651a794dd" Alias="shs_soccer.JPG" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/shs_soccerJPG</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-28T19:43:50</CreateDate>
    <NodeName Default="shs_soccer.JPG" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/veuadwxz/shs_soccer.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>