<?xml version="1.0" encoding="utf-8"?>
<Media Key="f00e2b2c-a3c0-4a25-acbc-3d199952278c" Alias="shsLogo.jpg" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/shsLogojpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-29T22:52:38</CreateDate>
    <NodeName Default="shsLogo.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/upqfqrvj/shslogo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>