<?xml version="1.0" encoding="utf-8"?>
<Media Key="972d99bc-409d-4974-b40e-caa6923f73c3" Alias="SingleSchoolPlan.pdf" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/SingleSchoolPlanpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-24T21:29:41</CreateDate>
    <NodeName Default="SingleSchoolPlan.pdf" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nrnpk2q5/singleschoolplan.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>