<?xml version="1.0" encoding="utf-8"?>
<Media Key="218c8c65-7c8d-4c75-95df-b1413b74c48e" Alias="STOPitPoster" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/STOPitPoster</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-09-04T02:57:15</CreateDate>
    <NodeName Default="STOPitPoster" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s1shpank/stopit.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>