<?xml version="1.0" encoding="utf-8"?>
<Media Key="7334fa75-d728-4698-9f13-344dc8609fd1" Alias="StudentAccidentSicknessInsuranceSpanish.pdf" Level="2">
  <Info>
    <Parent Key="5deb3386-1d8b-43eb-a911-c810dfae1a5a">Athletics</Parent>
    <Path>/Athletics/StudentAccidentSicknessInsuranceSpanishpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="StudentAccidentSicknessInsuranceSpanish.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jaovfk0o/student-accident-sickness-insurance-spanish.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>