<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef348d65-9f74-4137-9379-b888945405ef" Alias="StudentAccidentSicknessInsurance.pdf" Level="2">
  <Info>
    <Parent Key="5deb3386-1d8b-43eb-a911-c810dfae1a5a">Athletics</Parent>
    <Path>/Athletics/StudentAccidentSicknessInsurancepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="StudentAccidentSicknessInsurance.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dkvhhxov/student-accident-sickness-insurance.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>