<?xml version="1.0" encoding="utf-8"?>
<Media Key="f08071f4-8d93-4474-92a5-79fdbca851d7" Alias="students.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/studentsjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-09T16:08:47</CreateDate>
    <NodeName Default="students.jpg" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/po3nmrx0/students.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>