<?xml version="1.0" encoding="utf-8"?>
<Media Key="c03b055c-5fc6-5bd1-895b-4417bcd587fa" Alias="SummerSportsForm.pdf" Level="2">
  <Info>
    <Parent Key="298a5c65-12dc-5c92-8938-20f854852460">Summer Sports</Parent>
    <Path>/SummerSports/SummerSportsFormpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="SummerSportsForm.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/snoyk2gd/summer-sports-form.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>