<?xml version="1.0" encoding="utf-8"?>
<Media Key="71e3f629-4acd-4a31-a00e-c169f76a21e2" Alias="SVGlogo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SVGlogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-08-28T18:48:31</CreateDate>
    <NodeName Default="SVGlogo.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1nffde4w/svglogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>