<?xml version="1.0" encoding="utf-8"?>
<Media Key="c05e1a01-0000-4a04-9a04-c0a5e5f10004" Alias="Theresa Trieu-Counselor.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TheresaTrieuCounselorjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-31T04:00:00</CreateDate>
    <NodeName Default="Theresa Trieu-Counselor.jpg" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cnsltrieu/theresa-trieu.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>