<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9c84fe1-06a4-46aa-8a6d-4c9211dbaeb8" Alias="UnitCrest-SantiagoHS-JROTC.jpg" Level="2">
  <Info>
    <Parent Key="a3ac5da6-38c2-4912-82e0-2550cefeb53b">JROTC</Parent>
    <Path>/JROTC/UnitCrestSantiagoHSJROTCjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T16:27:38</CreateDate>
    <NodeName Default="UnitCrest-SantiagoHS-JROTC.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n0cj2d4n/unitcrest-santiagohs-jrotc.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>