<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ce2d51d-a1d5-4119-8f8c-85b5f8e0ab1a" Alias="VanceRichardson.jpg" Level="2">
  <Info>
    <Parent Key="a3ac5da6-38c2-4912-82e0-2550cefeb53b">JROTC</Parent>
    <Path>/JROTC/VanceRichardsonjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-08-28T16:52:37</CreateDate>
    <NodeName Default="VanceRichardson.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sipljov2/vancerichardson.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>