<?xml version="1.0" encoding="utf-8"?>
<Media Key="623a74d9-5f3d-43f0-9418-eebb879797c1" Alias="WelcomeNclark.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WelcomeNclarkjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-09-01T21:25:44</CreateDate>
    <NodeName Default="WelcomeNclark.jpg" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k05hzvcu/welcomenclark.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>