<?xml version="1.0" encoding="utf-8"?>
<Media Key="49f03363-b965-5c50-91bd-0bab5da7a566" Alias="WendysHeismanScholarship.pdf" Level="2">
  <Info>
    <Parent Key="4f542d20-8404-5c94-a2d2-b0dd80926a1b">Scholarships</Parent>
    <Path>/Scholarships/WendysHeismanScholarshippdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-02T12:00:00</CreateDate>
    <NodeName Default="WendysHeismanScholarship.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2t2pk64r/wendys-heisman-scholarship.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>