<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ec79cb-727f-439d-b6c5-0f0ceb3c6cb8" Alias="wintermas.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/wintermasjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-29T15:53:49</CreateDate>
    <NodeName Default="wintermas.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iszlu1qw/wintermas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>