<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ec79cb-727f-439d-b6c5-0f0ceb3c6cb8" Alias="wintermas.jpg" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/wintermasjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-07-29T15:53:49</CreateDate>
    <NodeName Default="wintermas.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iszlu1qw/wintermas.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>