<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc726913-051f-4277-8c87-4eb7ce8a8df8" Alias="Workpermit1SHS.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Workpermit1SHSpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-04T22:48:33</CreateDate>
    <NodeName Default="Workpermit1SHS.pdf" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yovlukm3/workpermit1shs.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>