<?xml version="1.0" encoding="utf-8"?>
<Media Key="574788df-de4b-4c3e-9abb-8a08c5606cb1" Alias="WSACReport.pdf" Level="2">
  <Info>
    <Parent Key="afacbcd1-6db9-4848-b80c-b3a0a074abe8">SHS Slider</Parent>
    <Path>/SHSSlider/WSACReportpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-08-24T21:26:29</CreateDate>
    <NodeName Default="WSACReport.pdf" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b3fi5mwj/wsacreport.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>