<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7cd10e-e103-4fdc-83b6-c82e621eca58" Alias="Year-at-a-Glance Calendar.pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/YearataGlanceCalendarpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2026-09-13T16:00:00</CreateDate>
    <NodeName Default="Year-at-a-Glance Calendar.pdf" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ax07f6ya/year-at-a-glance-calendar.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>
